/* 카드 리스트 */
.diary-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1;
}

/* 카드 기본 */
.diary-card {
  width: calc(50% - 10px);
  border-radius: 20px;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: transform 0.2s ease;
  cursor: pointer;
}


.diary-card:hover {
  transform: translateY(-4px);
}

.card-top {
  width: 100%;
  padding: 40px 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-bottom {
  background-color: white;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.card-meta {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
}

.card-meta .date {
  color: #999;
  font-weight: normal;
}

.card-meta .emotion {
  text-align: left;
}

.card-title {
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.profile-wrapper {
  background-color: white;
  border-radius: 50%;
  padding: 18px;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  pointer-events: auto !important;
  cursor: pointer;
}

.profile-wrapper img,
.card-top,
.card-bottom {
  pointer-events: auto !important;
}
