
  /* 카드 전체 레이아웃 수정 */
  
  /* 카드 내 레이어 분리 */

  
  .profile-wrapper {
    background-color: white;
    border-radius: 50%;
    padding: 18px;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .card-meta {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
  }
  
  .card-meta .date {
    color: #999;
    font-weight: normal;
  }
  
  .card-title {
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }