.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageButton {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin: 24px;
}

.pageButton:hover {
  background-color: #f2f2f2;
  border-radius: 8px;
}

.pageButtonActive {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navButton:hover {
}

.navButton:disabled {
}
