*{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0 ;
  font-size: 10px;
}

.컨테이너{
  width: 64rem;
  height: 113.8rem;
  padding: 22.8rem 5rem 8.3rem 5rem;
  background-color: orange;
  background-image: url("../public/assets/images/배경.png");
}
.헤더{
  width: 100%;
  display: flex;
  justify-content: center;
  /* position: relative; */
}
.헤더-아이콘1{
  position: absolute;
  left: auto;
  top: 22.8rem;

}
.헤더-아이콘2{
  position: absolute;
  top: 30.4rem;
}
.헤더-타이틀{
  margin-top: 12.3rem;
  font-family: Noto Sans KR;
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  
  margin-bottom: 15.1rem;
}
.메인-인풋섹션{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 6.6rem;
}
.메인-인풋섹션-인풋{
  background-color: transparent;
  width: 54rem;
  border: 0px solid #000;
  border-bottom:1px solid #7D7D7D;
  height: 3.5rem;

  font-family: Noto Sans KR;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  
  
}
.메인-인풋섹션-인풋 + img {
  position: absolute;
  bottom: 1.1rem;
  right: 0;

}


.메인-버튼섹션{
  width: 54rem;
  height: 7.6rem;
  border-radius: 3.8rem;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Noto Sans KR;
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  
}
.메인-버튼섹션-버튼{
  font-family: Noto Sans KR;
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  white-space: nowrap;
  background-color: transparent;
  border: 0px solid #000;
}
#로그인버튼 {
  background-color: red;
  
}
#카카오톡로그인버튼{
  border: 2px solid #FAE100;
  display: flex;
  gap: 2.955rem;
}
#카카오톡로그인버튼 > img{
  width: 3.245rem;
  height: 2.997rem;
}
.메인-버튼섹션-로그인버튼색상 {
  color: white;
}
.메인-버튼섹션-카카오톡로그인버튼색상{
  color: #FFE100;
}
.메인-텍스트섹션{
  display: flex;
  justify-content: space-between;
  padding-left: 5.8rem;
  margin-top: 3.8rem;
  margin-bottom: 5.8rem;
  margin-right: 6.1rem;
}
.메인-텍스트섹션-텍스트{
  font-family: Noto Sans KR;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  
}
.메인-텍스트섹션-선{
  height: 2.1rem;
  border-color: #9F9F9F;
}


