*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
.컨테이너{
  width: 64rem;
  height: 113.8rem; 
  padding-top: 4.2rem;
}
.헤더{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.헤더-검색섹션{
  width: 100%;
  display: flex;
  justify-content: end;
  /* background-color: orange; */
  padding: 0rem 5.2rem 0rem 4.9rem;
  padding-bottom: 3.6rem;
}
.헤더-마이섹션{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items : center;
  padding: 0rem 5.2rem 0rem 4.9rem;
  padding-bottom: 3.9rem;
  
}
.헤더-마이섹션-타이틀{
font-family: Noto Sans KR;
font-weight: 700;
font-style: Bold;
font-size: 40px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}
.헤더-마이섹션-아이콘디브{
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.헤더-마이섹션-아이콘디브 > p {
  margin-left: 1.9rem;

font-family: Noto Sans KR;
font-weight: 700;
font-style: Bold;
font-size: 24px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}

.메인{}
.메인-네비{
  display: flex;
  justify-content: space-between; 
  gap: 5.1rem;
  padding: 0rem 5.2rem 0rem 4.9rem;
  padding-bottom: 4.8rem;

}
.메인-네비-리스트{
font-family: Noto Sans KR;
font-weight: 700;
font-style: Bold;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #CACACA;

}
.선택된{
  color: #FF1B6D;
  border-bottom : 2px solid #FF1B6D;
}

.구분선{
  border: 1px solid #CACACA;
}

.메인-보드{
  padding: 0rem 5.2rem 0rem 4.9rem;
  padding-top:2.5rem ;
}

.메인-보드-리스트{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4.4rem;
}
.메인-보드-리스트 h3{
font-family: Noto Sans KR;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

padding-bottom: 0.5rem;
}
.메인-보드-리스트-아티클디브 > p{
font-family: Noto Sans KR;
font-weight: 400;
font-style: Regular;
font-size: 24px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}
.메인-보드-리스트-아이콘디브{}

.구분선{
  margin-top: 1rem;
}

.푸터{
  padding: 1.4rem 0rem 0rem 0rem; 
  display: flex;
  justify-content:space-around;
  align-items: end;
}
.푸터-버튼{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1.6rem;

font-family: Noto Sans KR;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

  
}