@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #fff;
  --color-gray-50: #f2f2f2;
  --color-gray-100: #e4e4e4;
  --color-gray-200: #d4d3d3;
  --color-gray-300: #c7c7c7;
  --color-gray-400: #ababab;
  --color-gray-500: #919191;
  --color-gray-600: #777;
  --color-gray-700: #5f5f5f;
  --color-gray-800: #333333;
  --color-gray-900: #1c1c1c;
  --color-black: #000;
}

@layer utilities {
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.6rem;
  }

  input,
  textarea {
    padding: 1.2rem 1.6rem;
    border-radius: 0.8rem;
    outline: none;
    border: solid 0.1rem var(--color-gray-200);
    background-color: var(--color-white);
    color: var(--color-black);
    resize: none;
    font-size: 1.6rem;
  }
  input::placeholder,
  textarea::placeholder {
    color: var(--color-gray-400);
  }

  /* button default style */
  button {
    border-radius: 0.8rem;
    border: solid 0.1rem var(--color-black);
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4rem;
    text-align: center;
    padding: 1.2rem 1.6rem;
    cursor: pointer;
  }
  /* button default disabled style*/
  /* !important 대안 방안 생각해보기 */
  button:disabled {
    background-color: var(--color-gray-300) !important;
    color: var(--color-gray-100) !important;
    cursor: default;
  }
}
.container {
  width: 100%;
  max-width: 128rem;
  /* max-width: 100%; */
  /* width: 100%; */
  padding: 4rem 0;
  display: flex;
}
