* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    min-height: 100vh; /* 화면 높이 최소 확보 */
}

.바탕 {
    flex: 1; /* footer를 밀어내고 남은 공간 차지 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 0px 376px 40px 376px;
    gap: 24px;
    width: 100%;
}

.헤더 {
    display: flex;
    height: 60px;
    min-width: 320px;
    max-width: 1168px;
    align-items: center;
    align-self: stretch;
}

.헤더__이름 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.18px;
}

.배너 {
    height: 240px;
    /* flex-shrink: 0; 줄어들지 않게 */
    align-self: stretch;
    min-width: 320px;
    max-width: 1168px;
    border-radius: 24px;
    background-image: url(./asset/image/Rectangle\ 1.png);
}

.메뉴 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 48px;
    min-width: 320px;
    max-width: 1168px;
    align-self: stretch;
    gap: 16px;

    margin-bottom: 32px;
    cursor: pointer;
}

.선택메뉴 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 119px; */
    height: 48px;
    border-bottom: 2px solid #000;
    padding: 8px;
}

.선택메뉴이름 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.24px;
}

.미선택메뉴 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 119px; */
    height: 48px;
    padding: 8px;
}

.미선택메뉴이름 {
    color:#ABABAB;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.24px;
}

.메뉴전체 {
    display: none; /* 기본은 안 보이게 */
}

.메뉴전체.active {
    display: flex; /* 선택된 경우 보이게 */
}

.메뉴__일기보관함 {
    flex-direction: column;
}

.필터부모 {
    display: flex;
    align-items: center;
    min-width: 320px;
    max-width: 1168px;
    align-self: stretch;
    margin-bottom: 42px;
}

.일기필터부모 {
    justify-content: space-between;
}

.일기쓰기버튼 {
    width: 110px;
    height: 48px;
    background-image: url(./asset/image/writingbutton.png);
    border-radius: 8px;
    border: none;
}

.필터 {
    width: 112px;
    height: 24px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #FFF;

    font-size: 16px;
    font-weight: 500;
    color: black;

    /* position: sticky;
    top: 5px;
    z-index: 100; */

    transition: background-color 0.3s, color 0.3s;
}

.필터.fixed {
    position: fixed;
    top: 5px;
    left: 376px;
    z-index: 100;

    /* 고정 상태에서도 기본 스타일 유지 */
    width: 112px;
    height: 24px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #FFF;

    font-size: 16px;
    font-weight: 500;
}


.필터.focused {
    background-color: black;
    color: #E4E4E4;
}

.내용 {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    align-self: stretch;
}

.empty-message {
    flex-basis: 100%;
}

.일기보관함 {
    /* display: flex;
    min-width: 320px;
    max-width: 1168px;
    flex-wrap: wrap;
    gap : 24px; */

    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
    width: 100%;
    max-width: 1168px;
}

.일기틀 {
    display: flex;
    width: 274px;
    height: 296px;
    padding-bottom: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    text-decoration: none;
    position: relative;

    transition:
    filter 0.5s,
    transform 0.5s;
}

.일기틀:hover {
    filter:  blur(3px);
    transform: scale(1.1);
}

.삭제버튼 {
    /* width: 24px;
    height: 24px; */

    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

/* 감정별 이미지 설정 */

.감정이미지__행복해요, .감정이미지__슬퍼요, .감정이미지__놀랐어요, .감정이미지__화나요, .감정이미지__기타 {
    width: 274px;
    height: 208px;
    border-radius: 16px;

    background-size: cover;      /* 배경 이미지가 요소를 꽉 채우도록 */
    background-position: center; /* 중앙에 위치하도록 */
    background-repeat: no-repeat; /* 반복 방지 */
    
}

.감정이미지__행복해요{
    background-image: url(./asset/image/happy.png);
}

.감정이미지__슬퍼요{
    background-image: url(./asset/image/sad.png);
}

.감정이미지__놀랐어요{
    background-image: url(./asset/image/surprised.png);
}

.감정이미지__화나요{
    background-image: url(./asset/image/mad.png);
}

.감정이미지__기타{
    background-image: url(./asset/image/etc.png);
}

/* 감정별 이미지 설정 완료 */

.일기속성 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0, 8px;
    gap: 8px;
}

.일기속성1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 274px;
}

/* 감정별 폰트 색상 설정 */

.감정__행복해요, .감정__슬퍼요, .감정__놀랐어요, .감정__화나요, .감정__기타 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.14px;
}

.감정__행복해요 {
    color: #EA5757;
}

.감정__슬퍼요 {
    color: #28B4E1;
}

.감정__놀랐어요 {
    color: #D59029;
}

.감정__화나요 {
    color: #777;
}

.감정__기타 {
    color: #A229ED;
}

/* 감정별 폰트 색상 설정 완료 */

.날짜표시 {
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.14px;
}

.일기속성2 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.타이틀 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.18px;
}

/* .일기쓰기구역 {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 604px;
    padding: 24px;
    gap: 40px;
    border-radius: 16px;
    border: 1px solid #D4D3D3;
    background: #FFF;
} */


/* 사진보관함 */

.메뉴__사진보관함 {
    flex-direction: column;
    width: 1168px;
    /* align-self: stretch; */
}

.사진필터부모 {
    justify-content: flex-start;
}

#강아지보여주는곳 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.보관된사진 {
    width: 640px;
    /* height: 640px; */
    aspect-ratio: 1/1;
    flex-shrink: 0;
    border-radius: 24px;
    background: #D9D9D9;
    object-fit: cover;
}

.footer {
    display: flex;
    flex-shrink: 0; /* 줄어들지 않게 */
    align-items: center;
    background-color: #F2F2F2;
    padding : 24px;
}

.footer__main {
    display: flex;
    width: 1168px;
    height: 112px;
    flex-direction: column;
    gap: 32px;
    margin: 0px 376px;
}

.첫번째줄 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.2px;
}

.두번째줄 {
    color: #5F5F5F;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.14px;
}

.플로팅버튼 {
    position: fixed;
    right: 300px;
    bottom: 100px;
    cursor: pointer;
}


/* 모달 영역 */

.modal {
    display: none;
    position: fixed;  /* fixed가 적합 */
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    /* z-index: 9999;  최상단으로 올리기 */
}

.diaryModal, .finishModal, .cancelModal, .deleteModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #fff;
    border-radius: 24px;
    padding: 24px;
    gap: 40px;
    /* z-index: 10000; 모달 배경보다 위 */

    display: flex;
    flex-direction: column;
}

.diaryModal {
    /* top: calc(50% - 560px / 2);
    left: calc(50% - 640px / 2); */

    width: 640px;
    /* height: 560px; */

    width: 640px;
    min-width: 640px;
    max-width: 760px;
}

.일기쓰기__타이틀 {
    text-align: start;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.24px;
}

.기분체크구역 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 64px;
    gap: 16px; 
}

.기분체크질문 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.2px;
}

.기분체크목록 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.기분체크틀 {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 24px;
}

.radio {
    width: 24px;
    height: 24px;
}

.기분 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.18px;
}

.입력틀 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 8px;
}

.소제목 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
    color: #333
}

#제목__내용입력 {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #D4D3D3;
    background:#FFF;
    padding: 12px 16px;

    font-size: 16px;
    color: #000;
}

#내용__내용입력 {
    width: 100%;
    height: 128px;
    border-radius: 8px;
    border: 1px solid #D4D3D3;
    background:#FFF;
    padding: 12px 16px;

    font-size: 16px;
    color: #000;
}

.버튼영역 {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.흰버튼 {
    width: 104px;
    height: 48px;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid #000;
    background: #FFF;

    color: #1C1C1C;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.18px;
}

.검정버튼 {
    width: 104px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: #000;
    padding: 8px 10px;

    color: #F2F2F2;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.18px;
}

.finishModal {
    /* top: calc(50% - 200px / 2);
    left: calc(50% - 480px / 2); */

    width: 480px;
    /* height: 200px; */
}

.문구모음 {
    display: flex;
    flex-direction: column;
    align-self: stretch;

    gap: 16px;
}

.문구1 {
    align-self: stretch;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.24px;
}

.문구2 {
    align-self: stretch;
    color: #333;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.2px;
}

.확인버튼 {
    height: 48px;
    padding: 8px 10px;

    border-radius: 8px;
    background: #000;

    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.18px;
}

.cancelModal {
    /* top: calc(50% - 200px / 2);
    left: calc(50% - 480px / 2); */

    width: 480px;
    /* height: 200px; */
}

.deleteModal {
    width: 480px;
}

/* 모달 영역 끝 */


@media (max-width: 360px) {
    .바탕 {
        flex-direction: column;
        margin: 0 16px 40px 16px; /* 좌우 마진을 작게 */
        width: auto; /* 필요하면 조절 */ 
    }

    .헤더 {
        order: 1;
    }
    .배너 {
        order: 2;
    }

    .메뉴 {
        order: 3;
    }

    /* .일기쓰기구역 {
        order: 4;
    } */

    .필터부모 {
        order: 5;
    }

    .내용 {
        order: 6;
    }

    .일기보관함 {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 24px;
        width: 100%;
        max-width: 360px;
    }

    .일기틀 {
        width: 100%;
        min-width: auto;
        max-width: 100%;
    }

    .footer__main {
        width: 100%;
    }
}