* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  color: black;
  text-decoration-line: none;
}
/* .컨테이너 {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.헤더 {
  max-width: 120rem;
  width: 100%;
  height: 3.75rem;
  padding: 0 1.25rem;
  display: flex;
  justify-content: center;
}

.헤더__정렬 {
  max-width: 73rem;
  width: 100%;
  height: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.헤더__정렬__로고 {
  max-width: 7.5rem;
  width: 100%;
  height: 2.5rem;
  align-items: center;
  display: flex;
}

.헤더__정렬__로고__이름 {
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
  font-style: normal;
}

.필터 {
  position: sticky;
  top: 0;
  left: 0;
  max-width: 120rem;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.필터__정렬 {
  max-width: 73rem;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.필터__정렬__선택 {
  border-radius: 8px;
  max-width: 7.5rem;
  width: 100%;
  height: 2rem;
}

.배너 {
  max-width: 120rem;
  width: 100%;
  min-height: 15rem;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.내비게이션 {
  max-width: 120rem;
  width: 100%;
  height: 3rem;
  padding: 0 1.25rem;
  display: flex;
  justify-content: center;
}

.내비게이션__정렬 {
  max-width: 73rem;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.내비게이션__정렬__왼쪽 {
  max-width: 15.875rem;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.내비게이션__정렬__왼쪽__보관함탭 {
  cursor: pointer;
  width: 100%;
  height: 3rem;
  padding: 0.75rem 0.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}
/* .내비게이션__정렬__왼쪽__사진보관함 {
  width: 100%;
  height: 3rem;
  padding: 0.75rem 0.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #ababab;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
} */

.플로팅버튼이미지 {
  max-width: 2.5rem;
  width: 100%;
}
.플로팅버튼 {
  position: fixed;
  right: 1.875rem;
  bottom: 1.875rem;
}

/* .CSS일기보여주는곳 {
  display: flex;
  flex-wrap: wrap;

  gap: 1.5rem;
} */

.바디 {
  max-width: 120rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.바디__정렬 {
  max-width: 73rem;
  width: 100%;
  /* max-height: 72.9375rem; */
  display: flex;
  justify-content: center;
}

.바디__정렬__목록 {
  min-width: 49rem;
  width: 100%;
  /* height: 72.9375rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1.5rem;
}

.스켈레톤,
.바디__정렬__목록2 {
  min-width: 49rem;
  width: 100%;
  /* height: 72.9375rem; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.바디__정렬__목록__첫번째 {
  max-width: 17.125rem;
  width: 100%;
  height: 18.5rem;
  transition: 0.5s;
  position: relative;
}

.바디__정렬__목록__첫번째:hover {
  transform: scale(1.1);
}

.바디__정렬__목록__첫번째 > img {
  transition: 0.5s;
}
.바디__정렬__목록__첫번째 > img:hover {
  filter: blur(0.125rem);
}

.바디__정렬__목록__첫번째__내용 {
  max-width: 23.75rem;
  width: 100%;
  height: 4.5rem;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.바디__정렬__목록__첫번째__내용__감정날짜 {
  max-width: 22.75rem;
  width: 100%;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.바디__정렬__목록__첫번째__내용__감정날짜__감정 {
  font-size: 0.875rem;
}
.바디__정렬__목록__첫번째__내용__감정날짜__날짜 {
  font-size: 0.875rem;
  color: #919191;
}

.바디__정렬__목록__첫번째__내용__타이틀 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
.삭제버튼 {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  top: 0.4375rem;
  right: 1.25rem;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 1;
}

.바디__정렬__일기쓰기 {
  min-width: 19.5rem;
  width: 100%;
  max-height: 37.5rem;
  padding: 1.5rem;
  border-radius: 16px;
  border: 0.0625rem solid #d4d3d3;
  display: flex;
  flex-direction: column;
}

.바디__정렬__일기쓰기__타이틀 {
  min-width: 19.5rem;
  width: 100%;
  height: 1.5rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}
.바디__정렬__일기쓰기__오기어 {
  min-width: 19.5rem;
  width: 100%;
  height: 1.5rem;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
}
.바디__정렬__일기쓰기__라디오 {
  gap: 1.25rem;
  min-width: 19.5rem;
  width: 100%;
  /* height: 4.25rem; */
  display: flex;
  flex-wrap: wrap;
}

.바디__정렬__일기쓰기__라디오__감정 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.바디__정렬__일기쓰기__제목 {
  display: flex;
  flex-direction: column;
}

.바디__정렬__일기쓰기__제목__라벨 {
  max-width: 19.5rem;
  width: 100%;
  height: 1.25rem;
  color: #333;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
}

.바디__정렬__일기쓰기__제목__인풋 {
  min-width: 19.5rem;
  width: 100%;
  height: 3rem;
  background-color: #fff;
  border-radius: 8px;
  border: 0.0625rem solid #d4d3d3;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
}

.바디__정렬__일기쓰기__제목__라벨__인풋__입력창 {
  max-width: 35rem;
  width: 100%;
  height: 1.5rem;
  border: none;
}

.바디__정렬__일기쓰기__내용 {
  display: flex;
  flex-direction: column;
  height: auto;
}

.바디__정렬__일기쓰기__내용__라벨 {
  max-width: 19.5rem;
  width: 100%;
  height: 1.25rem;
  color: #333;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
}

.바디__정렬__일기쓰기__내용__인풋 {
  padding: 0.75rem 1rem;
  min-width: 37rem;
  width: 100%;
  height: 8rem;
  background-color: #fff;
  border-radius: 8px;
  border: 0.0625rem solid #d4d3d3;
}

.바디__정렬__일기쓰기__내용__라벨__인풋__입력창 {
  resize: none;
  max-width: 37rem;
  width: 100%;
  height: 6rem;
  border: none;
}

.바디__정렬__일기쓰기__등록 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.바디__정렬__일기쓰기__닫기__버튼 {
  max-width: 6.5rem;
  height: 3rem;
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff;
  color: #1c1c1c;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.바디__정렬__일기쓰기__등록__버튼 {
  max-width: 6.5rem;
  height: 3rem;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  background: #000;
  color: #f2f2f2;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.푸터 {
  max-width: 120rem;
  width: 100%;
  height: 10rem;
  padding: 1.5rem 1.25rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.푸터__내용 {
  max-width: 73rem;
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: column;
}

/* 디테일CSS */

.디테일본문 {
  max-width: 120rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.디테일본문__정렬 {
  max-width: 73rem;
  width: 100%;
  height: 19.0625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.디테일본문__정렬__타이틀 {
  max-width: 73rem;
  width: 100%;
  height: 1.5rem;
  border-bottom: 0.125rem solid #000;
}

.디테일본문__정렬__타이틀__내용 {
  min-width: 11.625rem;
  height: 1.5rem;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  color: #000;
}

.디테일본문__정렬__감정날짜 {
  max-width: 73rem;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.디테일본문__정렬__감정날짜__왼쪽 {
  max-width: 6.8125rem;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.디테일본문__정렬__감정날짜__왼쪽__이모지 {
  max-width: 2rem;
  width: 100%;
  height: 2rem;
}

.디테일본문__정렬__감정날짜__왼쪽__감정 {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
}

.디테일본문__정렬__감정날짜__오른쪽 {
  max-width: 6.6875rem;
  width: 100%;
  height: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.디테일본문__정렬__감정날짜__오른쪽__날짜 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  color: #919191;
}

.디테일본문__정렬__감정날짜__오른쪽__작성수정 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  color: #919191;
}
.디테일본문__정렬__내용라벨 {
  max-width: 73rem;
  width: 100%;
  height: 1.25rem;
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}

.디테일본문__정렬__내용보이는곳 {
  max-width: 73rem;
  width: 100%;
  height: 6.25rem;
}
.내용복사이동용 {
  display: flex;
  justify-content: end;
}
.내용복사 {
  width: 5.688rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #1c1c1c;
}

.디테일본문__정렬__수정 {
  max-width: 73rem;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: flex-end;
}
.디테일본문__정렬__수정__버튼 {
  max-width: 3.1875rem;
  width: 100%;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 8px;
  border: 0.0625rem solid #d4d3d3;
}
.디테일본문__정렬__삭제__버튼 {
  max-width: 3.1875rem;
  width: 100%;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 8px;
  border: 0.0625rem solid #d4d3d3;
  margin-left: 1rem;
}
.댓글창 {
  max-width: 120rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.댓글창__정렬 {
  max-width: 74.875rem; /* 1198px */
  width: 100%;
  min-height: 12.625rem; /* 202px */
  flex-shrink: 0;
  padding: 1.125rem 0.75rem; /* 18px 12px */
  display: flex;
  flex-direction: column;
}
.댓글창__정렬__회고 {
  font-size: 1.125rem; /* 18px */
  font-style: normal;
  font-weight: 600;
  height: 1.5rem; /* 24px */
}
.댓글창__정렬__인풋 {
  max-width: 68.8125rem; /* 1101px */
  width: 100%;
  height: 3rem; /* 48px */
  padding: 0.75rem 1rem; /* 12px 16px */
  border-radius: 8px;
  border: 0.0625rem solid #d4d3d3;
  background: #fff;
}

.댓글창__정렬__댓글입력창 {
  max-width: 73rem; /* 1168px */
  width: 100%;
  height: 3rem; /* 48px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem; /* 12px */
}
.댓글창__정렬__댓글입력창__인풋 {
  max-width: 68.8125rem; /* 1101px */
  width: 100%;
  height: 3rem; /* 48px */
  padding: 0.75rem 1rem; /* 12px 16px */
  border-radius: 8px;
  border: 0.0625rem solid #d4d3d3;
}

.댓글창__정렬__댓글입력창__입력버튼 {
  display: flex;
  height: 3rem; /* 48px */
  padding: 0.5rem 0.625rem; /* 8px 10px */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem; /* 10px */
  border-radius: 8px;
  background: #000;
  font-size: 1.125rem; /* 18px */
  font-style: normal;
  font-weight: 600;
  color: #fff;
}
.댓글창__정렬__댓글입력창__입력버튼2 {
  display: flex;
  height: 3rem; /* 48px */
  padding: 0.5rem 0.625rem; /* 8px 10px */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem; /* 10px */
  border-radius: 8px;
  background: #c7c7c7;
  font-size: 1.125rem; /* 18px */
  font-style: normal;
  font-weight: 600;
  color: #fff;
  border: none;
}

.댓글창__정렬__댓글 {
  max-width: 73rem; /* 1168px */
  width: 100%;
  height: 1.5rem; /* 24px */
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem; /* 12px */
}
.댓글창__정렬__댓글__추가 {
  font-size: 1rem; /* 16px */
  font-style: normal;
  font-weight: 500;
  margin-right: 0.75rem; /* 12px */
}
.댓글창__정렬__댓글__날짜 {
  font-size: 1rem; /* 16px */
  font-style: normal;
  font-weight: 400;
  color: #777;
}

.토스트메세지 {
  position: fixed;
  bottom: 4rem;
  left: calc(50% - 47.5rem / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47.5rem;
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 0.5rem;
  display: none;
  animation-name: 토스트애니메이션;
  animation-duration: 1s;
}

@keyframes 토스트애니메이션 {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/* edit CSS */

.수정본문 {
  max-width: 117.5rem; /* 1880px */
  width: 100%;
  min-height: 27rem; /* 432px */
  display: flex;
  justify-content: center;
}
.수정본문__정렬 {
  max-width: 73rem; /* 1168px */
  width: 100%;
}
.수정본문__정렬__감정질문 {
  max-width: 73rem; /* 1168px */
  width: 100%;
  height: 1.5rem; /* 24px */
  font-size: 1.25rem; /* 20px */
  font-style: normal;
  font-weight: 600;
}

.수정본문__정렬__라디오 {
  max-width: 37rem; /* 592px */
  width: 100%;
  height: 1.5rem; /* 24px */
  display: flex;
  align-items: center;
  gap: 1.25rem; /* 20px */
}

.수정본문__정렬__라디오__감정 {
  font-size: 1.125rem; /* 18px */
  font-style: normal;
  font-weight: 500;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.수정본문__정렬__제목__라벨 {
  max-width: 73rem; /* 1168px */
  width: 100%;
  height: 1.25rem; /* 20px */
  font-size: 0.875rem; /* 14px */
  font-style: normal;
  font-weight: 500;
}

.수정본문__정렬__제목__인풋 {
  max-width: 73rem; /* 1168px */
  width: 100%;
  height: 3rem; /* 48px */
  border-radius: 8px;
  border: 0.0625rem solid #d4d3d3;
  background: #fff;
  padding: 0.75rem 1rem; /* 12px 16px */
}
.수정본문__정렬__내용__라벨 {
  max-width: 73rem; /* 1168px */
  width: 100%;
  height: 1.25rem; /* 20px */
  font-size: 0.875rem; /* 14px */
  font-style: normal;
  font-weight: 500;
}

.수정본문__정렬__내용__인풋 {
  max-width: 73rem; /* 1168px */
  width: 100%;
  height: 8rem; /* 128px */
  border-radius: 8px;
  border: 0.0625rem solid #d4d3d3;
  background: #fff;
  padding: 0.75rem 1rem; /* 12px 16px */
  resize: none;
}
.수정본문__정렬__버튼정렬 {
  height: 3rem; /* 48px */
  display: flex;
  justify-content: center;
  gap: 1rem; /* 16px */
}

.수정본문__정렬__버튼정렬__취소 {
  display: flex;
  max-width: 6.5rem; /* 104px */
  width: 100%;
  height: 3rem; /* 48px */
  padding: 0.5rem 0.625rem; /* 8px 10px */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 0.0625rem solid #000;
  background: #fff;
  color: #1c1c1c;
}

.수정본문__정렬__버튼정렬__수정 {
  display: flex;
  max-width: 6.5rem; /* 104px */
  width: 100%;
  height: 3rem; /* 48px */
  padding: 0.5rem 0.625rem; /* 8px 10px */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  border-radius: 8px;
  background: #000;
}

/* 모달창 */
.공동모달그룹 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.모달배경 {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 50%;
}
.모달일기등록버튼 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  width: 110px;
  height: 48px;
  display: flex;
  height: 48px;
  /* padding: 8px 10px; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #000;
}

.등록모달 {
  position: absolute;
  top: calc(50% - 560px / 2);
  left: calc(50% - 640px / 2);
  width: 640px;
  height: 560px;
  z-index: 3;
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.일기등록완료창 {
  width: 30rem;
  min-width: 30rem;
  max-width: 47.5rem;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  border-radius: 1.5rem;
  background: #fff;
  position: absolute;
  top: calc(50% - 200px / 2);
  left: calc(50% - 480px / 2);
  z-index: 4;
}
/* -------------일기등록완료창----------------- */
.일기등록완료 {
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 100% */
}

.일기등록이완료되었습니다 {
  color: #333;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 120% */
}

.등록완료확인버튼 {
  width: 27rem;
  height: 3rem;
  display: flex;
  height: 3rem;
  padding: 0.5rem 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: #fff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  background: #000;
}
/* ---------------------------------------- */
/* -------------일기등록취소창----------------- */
.일기등록취소창 {
  display: flex;
  width: 30rem;
  min-width: 30rem;
  max-width: 47.5rem;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  background: #fff;
  position: absolute;
  top: calc(50% - 200px / 2);
  left: calc(50% - 480px / 2);
  z-index: 4;
}

.등록취소버튼정렬 {
  display: flex;
  justify-content: space-between;
  width: 229px;
  height: 48px;
}
.계속작성버튼 {
  max-width: 6.5rem;
  height: 3rem;
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff;
  color: #1c1c1c;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.등록취소버튼 {
  max-width: 6.5rem;
  height: 3rem;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  background: #000;
  color: #f2f2f2;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
/* ----------------------------------------*/

.강아지사진CSS {
  max-width: 40rem;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 24px;
  object-fit: cover;
}

.메인CSS {
  display: flex;
  width: 100%;
  gap: 2.4rem;
}

.스켈레톤박스 {
  max-width: 40rem;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 24px;
  object-fit: cover;
  background-color: lightgray;
  overflow: hidden;
}

.스켈레톤막대기 {
  width: 100px;
  height: 2000px;
  background-color: white;
  filter: blur(70px);
  rotate: 40deg;
  animation-name: 스켈레톤애니메이션;
  animation-duration: 2s;
}

@keyframes 스켈레톤애니메이션 {
  from {
    transform: translate(-600px, -400px);
  }
  to {
    transform: translate(700px, 200px);
  }
}
