.body_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.CSS_일기보여주는곳 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5 rem;
    width: 100%;
    order: 2;
}

.diary_image {
    width: 100%;
}

.mood_image {
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.card_area {
    max-width: none;
    gap: 1rem;    
}

.diary_area {
    max-width: none;
    width: 100%;
    order: 1;
}


