* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

body {
  font-family: 'Pretendard Variable', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 링크 기본 스타일 제거 */
a { 
    appearance: none;
    text-decoration: none;  /* 밑줄 제거 */
}

.page {
   margin: 0 1.25rem 2.5rem;
}

.header {
    width: 100%;
    height: 3.75rem;
    padding: 1.25rem;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1rem;
}

/* 배너이미지 */

.body_banner {
    width: 100%;
}

/* 내비게이션 */
.body_tab {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    }

.body_tab_active {
    width: 7.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-bottom: 0.125rem solid black;
}

.body_tab_default {
    width: 7.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ababab;
    font-weight: 500;
}

.body_button_area {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem 0.5rem;
    flex-wrap: wrap;
}
/* 필터 */

.filter {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    min-width: 7.5rem;
    padding: 0.75rem 0.625rem;
    border-radius: 8px;
    border: 0.0625rem solid #c7c7c7;
    height: 100%;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;    
    margin-bottom: 2.62rem;


    position: sticky;
    top: 2.25rem;
    transition: all 0.3s ease;
}

.filter_drop_down {
    width: 1.5rem;
    height: 1.5rem;
}

.inverted {
    filter: invert(1);
    z-index: 100;
}

.diary_write_button {
    display: flex;
    height: 3rem;
    padding: 0.5rem 0.625rem;
    align-items: center;
    gap: 0.25rem;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    background-color: #000;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* 일기 보여주는 곳 */
.body_main {
    width: 100%;
    display: flex;
    gap: 1.5rem;
}

.CSS_일기보여주는곳 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card_area {
    max-width: 23.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;

    transition: 
    transform 0.5s;   
}
.card_area:hover {
    transform: scale(1.1);
    box-shadow: 0 0.125rem 1.875rem 0 rgba(0, 0, 0, 0.16);
    border-radius: 16px;
}

.card_area:hover .diary_image {
    filter: blur(0.125rem);
    transition: filter 0.5s;
}

.delete_button {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;  
    width: 1.5rem;
    height: 1.5rem;  
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    z-index: 100;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.10)); 
}

.diary_image {
    height: 17.8125rem;
    width: auto;
}

.mood_image {
    height: 100%;
    width: 100%;
}

.diary_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
    color: #777;
    padding: 0rem 0.5rem;
}

.diary_info {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    gap: 0.5rem;
}

.diary_mood {
    text-align: left;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.2;
}
.CSS_행복 {
    color: #EA5757;
}
  
.CSS_슬픔 {
    color: #28B4E1;
}
  
.CSS_놀람 {
    color: #D59029;
}
  
.CSS_화남 {
    color: #777;
}
  
.CSS_기타 {
    color: #A229ED;
}

.diary_date {
    color: #919191;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: right;
}

.diary_title {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
    padding: 0rem 0.5rem;
    color: #000;
    margin-bottom: 1rem;
    overflow: hidden;
}

.diary_area {
    width: 40rem;
    min-width: 40rem;
    max-width: 47.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
    border-radius: 24px;
    border: 0.0625rem solid #D4D3D3; 
    background:#fff;
    text-align: left;
    font-size: 1.5rem;
    color: #000;

    position: absolute;
    top: calc(50% - 560px / 2);
    left: calc(50% - 640px / 2);
}

button img {
    display: block;
  }
  
  button {
    border: none;
    background: none;
  }

.title {
    width: 100%;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: -0.015rem;  
} 

.diary_input_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.mood_title {
    width: 100%;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.0125rem;
}

.mood_select {
    display: flex;    
    flex-wrap: wrap;
    gap: 1.25rem;    
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #333;
}

.mood_radio_button {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.mood_radio_group input[type="radio"] {
    width: 1.5rem;
    height: 1.5rem;    
}

.text_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem; 
}

.text_input_area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    gap: 0.5rem;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #333;
}

#HTML_제목입력창,
#HTML_내용입력창 {
    appearance: none;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    border: 0.0625rem solid #D4D3D3;
    padding: 0.75rem 1rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    font-family: 'Pretendard Variable', sans-serif;
    color: #333;
}

#HTML_제목입력창::placeholder,
#HTML_내용입력창::placeholder {
    color: #ababab;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
}


/* 푸터 영역 */

.footer {
    width: 100%;
    display: flex;
    padding: 1.5rem 1.25rem;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
}

.footer_area {
    width: 100%;
    display: flex;
    /* padding: 0rem 23.5rem; */
    flex-direction: column;
    gap: 2rem;
}

.footer_title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1rem; 
    letter-spacing: -0.0125rem;
    text-align: left;
}

.footer_info {
    color: #5F5F5F;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: -0.0088rem;
    text-align: left;
}

.copyright {
    color: #919191;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1rem; 
    letter-spacing: -0.0088rem;
    text-align: left;
}

.플로팅버튼 {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.0625rem solid #f2f2f2;
    border-radius: 50%; /* 원형 모양 */
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    cursor: pointer;

    position: fixed;
    right: 2.5rem; 
    bottom: 2.5rem; 
    z-index: 999; 
}