*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.가장큰배경{
    width: 1920px;
    height: 1208px;
    background-image: url("./assets/images/bg1.png");
}
.헤더{
    width: 1920px;
    height: 80px;
    display: flex;
}

.헤더__왼쪽영역{
    width: 480px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    padding-right: 16px;
}

.헤더__오른쪽영역{
    width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}

.헤더__오른쪽영역__프로필설정{
    width: 163px;
    height: 48px;
    display: flex;
    /* background-color: gray; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.바디{
    width: 1920px;
    height: 1048px;
    display: flex;
}

.바디__사이드바왼쪽{
    width: 80px;
    height: 1048px;
}

.바디__메인{
    width: 1760px;
    height: 1048px;
    background-image: url("./assets/images/bg2.png");
    display: flex;
}

.바디__메인__메뉴{
    width: 400px;
    height: 1048px;
    background-color: blanchedalmond; 
}

.바디__메인__회원가입{
    width: 680px;
    height: 1048px;
    background-color: #D5BCE4;
    padding: 40px 60px 40px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.코드캠프__텍스트{
    width: 560px;
    height: 112px;
    text-align: center;
    font-size: 40px; 
    font-weight: bolder;
    color: #491449;  
    line-height: 56px;
}

.회원가입__묶음{
    
    width: 560px;
    height: 660px;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.바디__메인__회원가입__정보란{
    padding-right: 56px; padding-left: 56px;
    width: 560px;
    height: 548px;
    
}

input::placeholder {
    
    font-size: 18px;
    color: lightgray;

  }

textarea::placeholder {
    color: lightgray;
}

.input__위쪽{
    width: 320px;
    height: 44px;
    border-radius: 5px;
    border: 2px;
    padding: 8px 12px;
}

.정보란__인풋{
    width: 448px;
    height: 44px;
    display: flex;
    align-items: row;
    justify-content: space-between;
    /* padding-bottom: 8px; */
    align-items: center;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.인증번호__오른쪽정렬{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 12px;
    
}
#인증번호보여주는곳{
    width: 67px;
    height: 24px;
    font-size: 18px;
    display: flex;
    text-align: center;
    margin-right: 12px;
}

.버튼{
    width: 136px;
    height: 40px;
    border-radius: 5px;
}

.자기소개__인풋{
    width: 448px;
    height: 44px;
    display: flex;
    align-items: row;
    justify-content: space-between;
    /* padding-bottom: 8px; */
    margin-bottom: 20px;

}

.자기소개__텍스트{
    width: 120px;
    height: 44px;
    display: flex;
    align-items: center;
    
}

textarea {
    width: 448px;
    height: 116px;
    resize: none;
    border-radius: 5px;
}

.성별영역{
    width: 448px;
    height: 44px;  
    display: flex;
}

.성별{
    width: 120px;
    height: 44px;
}

.요소영역{
    width: 168px;
    height: 24px;
    display: flex;
    justify-content: space-between
}

.radio{
    margin-right: 8px;
}

[type="radio"] {
    accent-color: purple
}

.동의{
    width: 100%;
    height: 92px;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-left: 56px;
    padding-right: 56px;
    gap: 20px;
}
.회원가입__동의가입{
    width: 448px;
    height: 48px;
    
}

.가입버튼{
    width: 100%;
    height: 100%;
}




.input__아래쪽{
    width: 320px;
    height: 116px;
    display: flex;
    padding: 8px 12px;
}

.바디__메인__사진{
    width: 680px;
    height: 1048px;
    background-image: url("./assets/images/picture.png");
}



.바디__사이드바오른쪽{
    width: 80px;
    height: 1048px;
}


.푸터{
    width: 1920px;
    height: 80px;
}