.detail-main{
  width: 100%;
  border-bottom: solid 1px var(--color-black);
}

.detail-main-title{
  height: 36px;
  border-bottom: solid 2px var(--color-black);
  padding-bottom: 12px;
  margin-top: 64px;
}
.detail-main-contents{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 16px 0;
}
.detail-main-property{
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-main-property > div{
  width: 109px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.detail-main img{
  width: 32px;
}
.detail-main-property > p{
  color: var(--color-gray-500);
}

.detail-main-contents-container{
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.detail-main-contents-title{
  font-size: 16px;
  font-weight: 600;
}
.detail-main-contents-contents{
  min-height: 100px;
}
.detail-main-active{
  margin-left: auto;
  display: flex;
  gap: 16px;
}
.detail-main-active button{
  width: 51px;
  height: 40px;
  font-size: 18px;
}

.detail-comments{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.detail-comments-input{
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.detail-comments-input input{
  flex: 1;
  font-size: 16px;
}
.detail-comments-input button{
  font-size: 18px;
  padding: 8px 10px;
}
.detail-comments-area{
  display: flex;
  align-items: center;
  gap: 8px 12px;
}
.detail-comments-item{
  display: flex;
  gap: 12px;
  padding-bottom: 12px;
  border-bottom: solid 1px var(--color-gray-100);
}
.detail-comments-item:last-child{
  border: none;
}
.detail-comments-area p{
  color: var(--color-gray-600)
}