html{
  font-size: 62.5%;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
}
a:link{
  text-decoration: none;
  color: var(--color-black)
}
a:visited,a:active{
  color: var(--color-black)
}
button{
  outline: none;
  border: none;
  background-color: var(--color-black);
  color: var(--color-gray-50);
  cursor: pointer;
  border-radius: 0.8rem;
}
button:disabled{
  background-color: var(--color-gray-300);
  color: var(--color-gray-50);
}
input,textarea{
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
  outline: none;
  border: solid 0.1rem var(--color-gray-200);
  color: var(--color-black);
  resize: none;
  font-size: 1.4rem;
}
input::placeholder,
textarea::placeholder{
  color: var(--color-gray-400);
}
.dark-button{
  background-color: var(--color-black);
  color: var(--color-gray-50);
}
.light-button{
  border: solid 0.1rem var(--color-black);
  background-color: var(--color-white);
  color: var(--color-black);
}
.active{
  border-bottom: solid 0.2rem var(--color-black);
}
.inActive{
  border-bottom: solid 0.2rem transparent;
}

.container{
  width: 116.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 0 2.4rem 2.4rem 2.4rem;
}
.header{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
.container > img{
  width: 100%;
}
.navigator{
  display: flex;
  align-items: center;
  gap: 16px;
}
.navigator span{
  padding: 1.2rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.multiple-functions{
  height: 3.2rem;
  top: 0;
  width: 100%;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter{
  height: 100%;
}
.filter .dropdown{
  width: 11.2rem;
  padding: 0 1rem;
  height: 100%;
  border-radius: 0.8rem;
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  font-size: 1.6rem;
}
.multiple-functions button{
  padding: 0.8rem 1rem;
  font-size: 1.8rem;
}
.main{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  justify-content: space-between;
  align-items: flex-start;
}

#float-button{
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 8%;
  right: 5%;
  border-radius: 100%;
}
#float-button:hover{
  cursor: pointer;
  box-shadow: 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.16);
}

.footer{
  width: 116.8rem;
  height: 11.2rem;
  display: flex;
  background-color: var(--color-gray-50);
  padding: 2.4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
