body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a:link{
  text-decoration: none;
  color: var(--color-black)
}
a:visited,a:active{
  color: var(--color-black)
}
button{
  outline: none;
  border: none;
  background-color: var(--color-black);
  color: var(--color-gray-50);
  cursor: pointer;
}
button:disabled{
  background-color: var(--color-gray-300);
  color: var(--color-gray-50);
}
.dark-button{
  background-color: var(--color-black);
  color: var(--color-gray-50);
}
.light-button{
  border: solid 1px var(--color-black);
  background-color: var(--color-white);
  color: var(--color-black);
}
.active{
  border-bottom: solid 2px var(--color-black);
}
.inActive{
  border-bottom: solid 2px transparent;
}

.container{
  width: 1168px;
  height: 100%;
}
.header{
  width: 100%;
  height: 60px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.container > img{
  width: 100%;
  height: 240px;
  margin-bottom: 24px;
}
.navigator{
  display: flex;
  align-items: center;
  gap: 16px;
  height: 48px;
  margin-bottom: 32px;
}
.navigator span{
  width: 119px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter{
  height: 32px;
  margin-bottom: 42px;
}
.filter .dropdown{
  min-width: 120px;
  height: 100%;
  border-radius: 8px;
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
.main{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer{
  width: 1168px;
  height: 160px;
  display: flex;
  background-color: var(--color-gray-50);
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
