body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button{
  outline: none;
  border: none;
  background-color: var(--color-black);
  color: var(--color-gray-50);
}
button:disabled{
  background-color: var(--color-gray-300);
  color: var(--color-gray-50);
}
.active{
  border-bottom: solid 2px var(--color-black);
}
.inActive{
  border-bottom: solid 2px transparent;
}

.container{
  width: 1168px;
  height: 100%;
}
.header{
  width: 100%;
  height: 60px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.container > img{
  width: 100%;
  height: 240px;
  margin-bottom: 24px;
}
.navigator{
  display: flex;
  align-items: center;
  gap: 16px;
  height: 48px;
  margin-bottom: 40px;
}
.navigator span{
  width: 119px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer{
  position: sticky;
  bottom: 0;
  display: flex;
  height: 160px;
  background-color: var(--color-gray-50);
  width: 1920px;
  justify-content: center;
}
.footer-wrapper{
  width: 1168px;
  background-color: var(--color-gray-50);
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
