.main__gallery{
  width: 808px;
  height: 1167px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  overflow-y: scroll;
}
.main__gallery__card{
  width: 380px;
  height: 374px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 16px;
  border-radius: 16px;
  transition: all 0.5s;
}
.main__gallery__card:hover{
  width: calc(380px * 1.1 - 6px);
  height: calc(374px * 1.1 - 6px);
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px red;
}
.main__gallery__card img{
  width: 100%;
  height: 285px;
  border-radius: 16px;
}
.main__gallery__card img:hover{
  filter: blur(2px);
}
.main__gallery__card__info{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 56px;
  gap: 8px;
  padding: 0 8px;
}
.main__gallery__card__info__sub{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main__gallery__card__info__sub span{

}
.main__gallery__card__info p{

}

/* diary form */
.main__diary-form{
  min-width: 360px;
  flex:1;
  max-height: 604px;
  padding: 24px;
  border-radius: 16px;
  border: solid 1px var(--color-gray-200);
  display: flex;
  flex-direction: column;
  gap:40px;
  background-color: #fff;
}
.main__diary-form h2{

}
.select-box{
  width: 100%;
  height: 108px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.select-box h3{

}
.mood-select-box{
  width: 100%;
  height: 68px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.mood-select-box label{
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.mood-select-box input[type="radio"]{
  width: 24px;
  height: 24px;
  accent-color: var(--color-black);
}
.main-diary-input-form{
  width: 100%;
  height: 256px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main-diary-input{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main-diary-input input,
.main-diary-input textarea{
  padding: 12px 16px;
  border-radius: 8px;
  outline: none;
  border: solid 1px var(--color-gray-200);
  color: var(--color-black);
  resize: none;
}

.main-diary-input input::placeholder,
.main-diary-input textarea::placeholder{
  color: var(--color-gray-400);
}

.main__diary-form button{
  height: 48px;
  border-radius: 8px;
}
.main-diary-active{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.main-diary-active button{
  width: 104px;
  height: 48px;
  font-size: 18px;
  margin-top: 24px;
}

.main-diary-active button:last-child:active{
  transform: rotatez(45deg);
}