.main__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.6rem;
}
.main__gallery__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  border: solid 1px var(--card-border-color);
  color: var(--font-color);
  gap: 1.6rem;
  border-radius: 1.6rem;
  transition: all 0.5s;
  position: relative;
}
.main__gallery__card:hover {
  transform: scale(1.1);
  box-shadow: 0 0.2rem 3rem 0 rgba(0, 0, 0, 0.16);
  z-index: 4;
}
.main__gallery__card__close {
  position: absolute;
  width: 3.6rem;
  height: 3.6rem;
  top: 1rem;
  right: 1rem;
  z-index: 5;
  cursor: pointer;
}
.main__gallery__card__close:hover {
}
.main__gallery__card__image {
  width: 100%;
  object-fit: cover;
  border-radius: 1.6rem;
}
.main__gallery__card__image:hover {
  filter: blur(0.2rem);
}
.main__gallery__card__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  padding: 0 0.8rem;
}
.main__gallery__card__info__sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main__gallery__card__info__sub span {
}
.main__gallery__card__info p {
  overflow: hidden;
  display: -webkit-box; /* -webkit-line-clamp 를 위해 사용 */
  -webkit-line-clamp: 1; /* 원하는 줄 수 설정 */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-bottom: 1.6rem;
}

/* diary form */
.main__diary-form {
  min-width: 36rem;
  flex: 1;
  padding: 2.4rem;
  border-radius: 1.6rem;
  border: solid 0.1rem var(--color-gray-200);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: var(--color-white);
}
.main__diary-form h2 {
}
.select-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.select-box h3 {
}
.mood-select-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.mood-select-box label {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  color: var(--sm-font-color);
  gap: 0.8rem;
}
.mood-select-box input[type='radio'] {
  width: 2.4rem;
  height: 2.4rem;
  accent-color: var(--accent-color);
}
.main-diary-input-form {
  width: 100%;
  height: 25.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.main-diary-input-form input {
  color: var(--sm-font-color);
}
.main-diary-input {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.main-diary-input input,
.main-diary-input textarea {
  color: var(--font-color);
  border: solid 0.1rem var(--input-border-color);
  background-color: var(--input-bg-color);
}
.main-diary-input input::placeholder,
.main-diary-input textarea::placeholder {
  color: var(--placeholder-color);
}

.main-diary-active {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.main-diary-active button {
  width: 10.4rem;
  height: 4.8rem;
  font-size: 1.8rem;
}

.main-diary-active button:first-child {
  border: solid 0.1rem var(--btn-left-border-color);
  color: var(--btn-left-font-color);
  background-color: var(--btn-left-bg-color);
}
.main-diary-active button:last-child {
  border: solid 0.1rem var(--btn-right-border-color);
  color: var(--btn-right-font-color);
  background-color: var(--btn-right-bg-color);
}
.main-diary-active button:disabled {
  border: none;
  color: var(--btn-disabled-font-color);
  background-color: var(--btn-disabled-bg-color);
}

/* modal 관련 - main__diary-form과 관련있음 */
.main-modal-group {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
}
.main-modal-group .main__diary-form {
  min-width: 36rem;
  flex: 1;
  padding: 2.4rem;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  position: absolute;
  background-color: var(--bg-color);
  color: var(--font-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-diary-form-bg {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  opacity: 50%;
}

.nested-modal-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  border-radius: 0.8rem;
  min-width: 36rem;
  flex: 1;
  padding: 2.4rem;
  background-color: var(--bg-color);
}
.nested-modal-area > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.nested-modal-area > div > h3 {
  font-size: 2.4rem;
  color: var(--font-color);
}
.nested-modal-area > div > p {
  font-size: 2rem;
  color: var(--sm-font-color);
}
.nested-modal-area > button {
  font-size: 1.8rem;
  padding: 0.8rem 1rem;
  width: 100%;
  border: solid 0.1rem var(--btn-right-border-color);
  color: var(--btn-right-font-color);
  background-color: var(--btn-right-bg-color);
}
.nested-modal-area .main-diary-active {
  display: flex;
  flex-direction: row;
}
