:root {
  /* icon size */
  --icon-size-xl: 40px;
  --icon-size-l: 32px;
  --icon-size-m: 24px;
  --icon-size-s: 20px;
  --icon-size-xs: 16px;

  /* color - blue */
  --color-blue-05: #f0f7ff;
  --color-blue-10: #dbeeff;
  --color-blue-20: #bddbff;

  --color-white: #fff;
  --color-gray-50: #f2f2f2;
  --color-gray-100: #e4e4e4;
  --color-gray-200: #d4d3d3;
  --color-gray-300: #c7c7c7;
  --color-gray-400: #ababab;
  --color-gray-500: #919191;
  --color-gray-600: #777;
  --color-gray-700: #5f5f5f;
  --color-gray-800: #333333;
  --color-gray-900: #1c1c1c;
  --color-black: #000;

  /* light mode */
  --font-color: var(--color-black);
  --sm-font-color: var(--color-gray-800);
  --bg-color: var(--color-white);
  --input-border-color: var(--color-gray-200);
  --input-bg-color: var(--color-white);
  --input-font-color: var(--color-black);
  --input-disabled-bg-color: var(--color-gray-50);
  --input-disabled-font-color: var(--color-gray-400);
  --placeholder-color: var(--color-gray-400);
  --accent-color: var(--color-black);
  --btn-bg-color: var(--color-black);
  --btn-font-color: var(--color-white);
  --btn-left-border-color: var(--color-black);
  --btn-left-font-color: var(--color-gray-900);
  --btn-left-bg-color: var(--color-white);
  --btn-right-font-color: var(--color-white);
  --btn-right-bg-color: var(--color-black);
  --btn-disabled-bg-color: var(--color-gray-300);
  --btn-disabled-font-color: var(--color-white);
  --page-active-color: var(--color-gray-50);
  --page-font-color: var(--color-black);
  --card-border-color: var(--color-white);
  --dropdown-bg-color: #3ab50f0d;
  --dropdown-font-color: #299c00;
  --page-arrow-color: var(--color-gray-300);
  --float-stroke-color: var(--color-gray-50);
  --float-fill-color: rgba(255, 255, 255, 0.9);
}

.darkmode {
  --font-color: var(--color-white);
  --sm-font-color: var(--color-gray-300);
  --bg-color: var(--color-gray-900);
  --input-border-color: var(--color-gray-800);
  --input-bg-color: var(--color-black);
  --input-font-color: var(--color-white);
  --input-disabled-bg-color: var(--color-gray-800);
  --input-disabled-font-color: var(--color-gray-700);
  --placeholder-color: var(--color-gray-600);
  --accent-color: var(--color-white);
  --btn-bg-color: var(--color-gray-50);
  --btn-font-color: var(--color-black);
  --btn-left-border-color: var(--color-gray-700);
  --btn-left-font-color: var(--color-white);
  --btn-left-bg-color: var(--color-gray-900);
  --btn-right-font-color: var(--color-black);
  --btn-right-bg-color: var(--color-gray-50);
  --btn-disabled-bg-color: var(--color-gray-800);
  --btn-disabled-font-color: var(--color-gray-600);
  --page-active-color: var(--color-gray-500);
  --page-font-color: var(--color-gray-50);
  --card-border-color: var(--color-gray-700);
  --dropdown-bg-color: var(--color-gray-900);
  --dropdown-font-color: var(--color-white);
  --page-arrow-color: var(--color-gray-800);
  --float-stroke-color: var(--color-gray-700);
  --float-fill-color: rgba(28, 28, 28, 0.9);
}

/* web headline */
.web_headline01 {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 60px;
}
.web_headline02 {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 48px;
}
.web_headline03 {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 36px;
}
/* headline */
.headline01 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 32px;
}
.headline02 {
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 30px;
}
.headline03 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 28px;
}
/* title */
.title01 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 24px;
}
.title02 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 22px;
}
.title03 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 20px;
}
.sub-title01 {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 22px;
}
.sub-title02 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 18px;
}
/* body */
.body01 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
}
.body02_m {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 22px;
}
.body02_s {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 20px;
}
.body03 {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 18px;
}
/* caption */
.caption01 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 14px;
}
.caption02_m {
  font-weight: 600;
  font-size: 1rem;
  line-height: 14px;
}
.caption02_s {
  font-weight: 500;
  font-size: 1rem;
  line-height: 12px;
}
.caption03 {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 10px;
}
