.banner_container {
  position: relative;
  width: 100%;
  height: 51.6rem;
  will-change: transform;
  contain: layout style paint;
}

.banner_container .banner_image {
  object-fit: cover;
  filter: brightness(0.75);
  object-position: center 71%;
  transform: translateZ(0);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}