.product_banner_container {
    width: 128rem;
    height: 24rem;
    margin-top: 4rem;
    margin: 0 auto;
    margin-top: 6.4rem;
    margin-bottom: 6.4rem;
}

.product_banner_container .banner_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(1.2);
}