.일기상세_수정{
    width: 120rem;
    height: 67.5rem;
    angle: 0 deg;
    opacity: 1;
}

.frame_75{
    width: 120rem;
    height: 34.75rem;
    angle: 0 deg;
    opacity: 1;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    width: 117.5rem;
    height: 3.75rem;
    angle: 0 deg;
    opacity: 1;
    gap: 0.625rem;
    display: flex;
    justify-content: center;
}

.frame_2{
    width: 73rem;
    height: 3.75rem;
    min-width: 20rem;
    max-width: 73rem;
    angle: 0 deg;
    opacity: 1;
    gap: 0.625rem;
   
}

.logo{
    width: 7.5rem;
    height: 2.5rem;
    angle: 0 deg;
    opacity: 1;
    gap: 0.625rem;
    font-family: Pretendard Variable;
    font-weight: 700;
    font-style: Bold;
    font-size: 1.125rem;
    leading-trim: NONE;
    line-height: 1rem;
    letter-spacing: -1%;
    display: flex;
    line-height: 2.5rem;
}

.frame_74{
    width: 117.5rem;
    height: 27rem;
    angle: 0 deg;
    opacity: 1;
    gap: 1.5rem;
    display: flex;
    justify-content: center;
}

.frame_79{
    width: 73rem;
    height: 27rem;
    max-width: 73rem;
    angle: 0 deg;
    opacity: 1;
    padding-bottom: 1rem;
    gap: 1.5rem;
    border-bottom-width: 0.063rem;
    display: flex;
    flex-direction: column;
}

.기분_선택_영역{
    width: 73rem;
    height: 4rem;
    angle: 0 deg;
    opacity: 1;
    gap: 1rem; 
    display: flex;   
    flex-direction: column;
}

.frame_61{
    width: 37rem;
    height: 1.5rem;
    max-width: 37rem;
    angle: 0 deg;
    opacity: 1;
    gap: 1.25rem;
    display: flex;
    
}

.frame_64{
    width: 73rem;
    height: 4.75rem;
    angle: 0 deg;
    opacity: 1;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

#frame_63{
    width: 73rem;
    height: 3rem;
    border-radius: 0.5rem;
    border-width: 0.063rem;
    angle: 0 deg;
    opacity: 1;
    padding-top: 0.75rem;
    padding-right: 1rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    gap: 0.625rem;
}

#frame_63_2{
    width: 73rem;
    height: 8rem;
    border-radius: 0.5rem;
    border-width: 0.063rem;
    angle: 0 deg;
    opacity: 1;
    padding-top: 0.75rem;
    padding-right: 1rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    gap: 0.625rem;
}

.frame_65{
    width: 73rem;
    height: 9.75rem;
    angle: 0 deg;
    opacity: 1;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.frame_63{
    width: 73rem;
    height: 8rem;
    border-radius: 0.5rem;
    border-width: 0.063rem;
    angle: 0 deg;
    opacity: 1;
    padding-top: 0.75rem;
    padding-right: 1rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    gap: 0.625rem;
}

.버튼_영역{
    width: 73rem;
    height: 3rem;
    angle: 0 deg;
    opacity: 1;
    gap: 1rem;    
    display: flex;
    justify-content: center;
}