.section_1{
    width: 132.5rem;
    height: 148.063rem;
    border-radius: 2px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.삭제버튼 {
    width: 2.188rem;
    height: 2.188rem;
    position: relative;
    left: 16.4rem;
    top: -19rem;
    transition: 
                transform 0.5s,
                box-shadow 0.5s,
                filter 0.8s ease;
  }

  .삭제버튼:hover{
    transform: scale(1.60);
}

.위로버튼 {
    position: fixed;
    width: 3.125rem;
    height: 3.125rem;
    left: 95%;
	bottom: 6.25rem;
    border-color: black;
    border-radius: 100%;
    font-size: 3.125rem;
    transition: 
    transform 0.5s,
    filter 0.8s ease;
}

.위로버튼:hover {
    transform: scale(1.60);
}

a {
    text-decoration: none;
    color: black;
  }

a:visited{
    color: black;
}

.label{
    width: 120rem;
    height: 10.25rem;
    background-color: black;
    padding-top: 2rem;
    padding-right: 0.625rem;
    padding-bottom: 2rem;
    padding-left: 0.625rem;
    border-radius: 1.5rem;
    gap: 0.625rem;
    angle: 0 deg;
    opacity: 1;
    font-family: SUIT Variable;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 5rem;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: -1%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 5rem;
    margin-bottom: 5rem;
    box-sizing: border-box;
}



.일기보관함_최초{
    width: 120rem;
    height: 112.813rem;
    angle: 0 deg;
    opacity: 1;
    background-color: white;
    
}

.frame_38{
    width: 120rem;
    height: 112.813rem;
    angle: 0 deg;
    opacity: 1;
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
}

.frame_20{
    width: 120rem;
    /* height: 1605px; */
    angle: 0 deg;
    opacity: 1;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header{
    width: 120rem;
    height: 3.75rem;
    angle: 0 deg;
    opacity: 1;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    gap: 0.625rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.frame_2{
    font-family: Pretendard Variable;
    font-weight: 700;
    font-style: Bold;
    font-size: 1.125rem;
    leading-trim: NONE;
    line-height: 1rem;
    letter-spacing: -1%;

    width: 73rem;
    height: 3.75rem;
    min-width: 20rem;
    max-width: 73rem;
    angle: 0 deg;
    opacity: 1;
    gap: 0.625rem;
    line-height: 3.75rem;
}

.frame_19{
    width: 1920px;

    angle: 0 deg;
    opacity: 1;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.frame_4{
    width: 1920px;
    height: 240px;
    angle: 0 deg;
    opacity: 1;
    padding-right: 20px;
    padding-left: 20px;
    gap: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sofa{
    width: 1168px;
    height: 240px;
    min-width: 320px;
    max-width: 1168px;
    border-radius: 24px;
    angle: 0 deg;
    opacity: 1;
    object-fit: cover;
}

.frame_18{
    width: 1920px;
    /* height: 1257px; */
    angle: 0 deg;
    opacity: 1;
    gap: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame_17{
    width: 1920px;
    height: 48px;
    angle: 0 deg;
    opacity: 1;
    gap: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}

.frame_7{
    width: 1920px;
    height: 48px;
    angle: 0 deg;
    opacity: 1;
    padding-right: 20px;
    padding-left: 20px;
    gap: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
}

.frame_14{
    width: 1880px;
    height: 32px;
    angle: 0 deg;
    opacity: 1;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

.frame_13{
    width: 1168px;
    height: 32px;
    min-width: 320px;
    max-width: 1168px;
    angle: 0 deg;
    opacity: 1;
    gap: 8px;
    
}

.frame_12{
    width: 1168px;
    height: 32px;
    min-width: 320px;
    angle: 0 deg;
    opacity: 1;
    gap: 16px;

}

.드롭다운새거{
    width: 120px;
    height: 32px;
    min-width: 120px;
    border-radius: 8px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding: 4px;
    
}


.frame_6{
    width: 1168px;
    height: 48px;
    min-width: 320px;
    max-width: 1168px;
    angle: 0 deg;
    opacity: 1;
    gap: 16px;
    box-sizing: border-box;
}

.frame_9{
    width: 1168px;
    height: 48px;
    min-width: 204px;
    angle: 0 deg;
    opacity: 1;
    gap: 16px;  
    display: flex;
    
}


.tab{
    width: 119px;
    height: 48px;
    angle: 0 deg;
    opacity: 1;
    padding-top: 12px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-left: 8px;
    gap: 10px;
    border-bottom-width: 2px;
    box-sizing: border-box;
    text-align: center;
    white-space : nowrap;
    font-family: Pretendard Variable;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
}

.frame_16{
    width: 1168px;
    gap: 24px;
    display: flex;
}

.frame_30{
    width: 784px;
    height: 373px;
    angle: 0 deg;
    opacity: 1;
    gap: 24px;
    display: flex;
}

.frame_25{
    width: 380px;
    height: 373px;
    border-radius: 16px;
    angle: 0 deg;
    opacity: 1;
    gap: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    transition: 
                transform 0.5s,
                box-shadow 0.5s,
                filter 0.8s ease;
}
.frame_25:hover{
    transform: scale(1.05);
    box-shadow:10px 10px 20px #ddd;

}

.frame_25:hover .frame_47{
    filter: blur(7px);
}

.frame_47{
    width: 380px;
    height: 285px;
    border-radius: 16px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding: 12px;
    box-sizing: border-box;
    background-size : contain;
    transition: filter 0.5s ease;
}

.profile{
    width: 380px;
    height: 285px;
    
}


.frame_26{
    width: 380px;
    height: 56px;
    angle: 0 deg;
    opacity: 1;
    gap: 8px;
    padding-right: 8px;
    padding-left: 8px;
    box-sizing: border-box;
}

.frame_27{
    width: 364px;
    height: 24px;
    justify-content: space-between;
    angle: 0 deg;
    opacity: 1;
    display: flex;

}

.mood{
    font-family: Pretendard Variable;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: -1%;color: #28B4E1;
}

.작성날짜{
    font-family: Pretendard Variable;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%; color: var(--Gray-Gray-500, #919191);
}

.frame_24{
    width: 364px;
    height: 24px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}

.frame_106{
    width: 784px;
    gap: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.frame_98{
    width: 360px;
    height: 604px;
    min-width: 360px;
    max-width: 760px;
    border-radius: 16px;
    border: 1px solid #D4d3d3;
    angle: 0 deg;
    opacity: 1;
    gap: 40px;
    padding: 24px;    
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.일기쓰기{
    font-family: Pretendard Variable;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
}

.기본_선택_영역{
    width: 312px;
    height: 108px;
    angle: 0 deg;
    opacity: 1;
    gap: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.mood_select{
    font-family: Pretendard Variable;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%; 
}


.frame_61{
    width: 312px;
    height: 68px;
    angle: 0 deg;
    opacity: 1;
    gap: 20px;  
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.radio{
    border-radius: 8px;
    angle: 0 deg;
    opacity: 1;
    gap: 8px;
    white-space : nowrap;
}


.텍스트_영역{
    width: 312px;
    height: 256px;
    angle: 0 deg;
    opacity: 1;
    gap: 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.frame_64{
    width: 312px;
    height: 76px;
    angle: 0 deg;
    opacity: 1;
    gap: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
}


.input_63{
    width: 312px;
    height: 48px;
    border-radius: 8px;
    border-width: 1px;
    border: 1px solid #D4d3d3;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    box-sizing: border-box;
    
}


.input_63_2{
    width: 312px;
    height: 128px;
    border-radius: 8px;
    border-width: 1px;
    border: 1px solid #D4d3d3;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    box-sizing: border-box;
    text-align: start;
    resize: none;
}

.frame_65{
    width: 312px;
    height: 156px;
    angle: 0 deg;
    opacity: 1;
    gap: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.frame_66{
    width: 312px;
    height: 404px;
    angle: 0 deg;
    opacity: 1;
    gap: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.버튼영역{
    width: 312px;
    height: 48px;
    angle: 0 deg;
    opacity: 1;
    gap: 16px;
    box-sizing: border-box;
    border: 1px solid #D4d3d3;
    background-color: #C7C7C7;
}

.드롭다운{
    width: 312px;
    height: 48px;
    border-radius: 8px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    box-sizing: border-box;
}

.footer{
    width: 1920px;
    height: 160px;
    angle: 0 deg;
    opacity: 1;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
    gap: 10px;
    border-top-width: 1px;
    background-color: #D4d3d3;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.frame_107{
    width: 1168px;
    height: 112px;
    max-width: 1168px;
    angle: 0 deg;
    opacity: 1;
    gap: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.frame_110{
    width: 1168px;
    height: 16px;
    angle: 0 deg;
    opacity: 1;
    gap: 8px;
    font-family: Pretendard Variable;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 16px;
    letter-spacing: -1%;

}