#section_1{
    width: 2120px;
    height: 2369px;
    background-color: aqua;
    border-radius: 2px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#label{
    width: 1920px;
    height: 164px;
    background-color: black;
    padding-top: 32px;
    padding-right: 10px;
    padding-bottom: 32px;
    padding-left: 10px;
    border-radius: 24px;
    gap: 10px;
    angle: 0 deg;
    opacity: 1;
    font-family: SUIT Variable;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 80px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: -1%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 80px;
    margin-bottom: 80px;
    box-sizing: border-box;
}



#일기보관함_최초{
    width: 1920px;
    height: 1805px;
    background-color: bisque;
    angle: 0 deg;
    opacity: 1;
    
}

#frame_38{
    width: 1920px;
    height: 1805px;
    angle: 0 deg;
    opacity: 1;
    gap: 40px;
    background-color: brown;
}

#frame_20{
    width: 1920px;
    height: 1605px;
    angle: 0 deg;
    opacity: 1;
    gap: 24px;
    background-color: blueviolet;
    margin-bottom: 40px;
    box-sizing: border-box;
}

#header{
    width: 1920px;
    height: 60px;
    angle: 0 deg;
    opacity: 1;
    padding-right: 20px;
    padding-left: 20px;
    gap: 10px;
    background-color: tomato;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#frame_2{
    width: 1168px;
    height: 60px;
    min-width: 320px;
    max-width: 1168px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    background-color: bisque;
}

#frame_19{
    width: 1920px;
    height: 1521px;
    angle: 0 deg;
    opacity: 1;
    gap: 24px;
    background-color: gray;
}

#frame_4{
    width: 1920px;
    height: 240px;
    angle: 0 deg;
    opacity: 1;
    padding-right: 20px;
    padding-left: 20px;
    gap: 10px;
    background-color: wheat;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sofa{
    width: 1168px;
    height: 240px;
    min-width: 320px;
    max-width: 1168px;
    border-radius: 24px;
    angle: 0 deg;
    opacity: 1;
    object-fit: cover;
}

#frame_18{
    width: 1920px;
    height: 1257px;
    angle: 0 deg;
    opacity: 1;
    gap: 42px;
    background-color: olivedrab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#frame_17{
    width: 1920px;
    height: 48px;
    angle: 0 deg;
    opacity: 1;
    gap: 32px;
    background-color: red;
    box-sizing: border-box;
}

#frame_7{
    width: 1920px;
    height: 48px;
    angle: 0 deg;
    opacity: 1;
    padding-right: 20px;
    padding-left: 20px;
    gap: 10px;
    background-color: orange;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
}

#frame_6{
    width: 1168px;
    height: 48px;
    min-width: 320px;
    max-width: 1168px;
    angle: 0 deg;
    opacity: 1;
    gap: 16px;
    box-sizing: border-box;
    background-color: aquamarine;
}

#frame_9{
    width: 1168px;
    height: 48px;
    min-width: 204px;
    angle: 0 deg;
    opacity: 1;
    gap: 16px;  
    background-color: orchid;  
    display: flex;
    
}


.tab{
    width: 119px;
    height: 48px;
    angle: 0 deg;
    opacity: 1;
    padding-top: 12px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-left: 8px;
    gap: 10px;
    border-bottom-width: 2px;
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
    white-space : nowrap
}

#frame_16{
    width: 1168px;
    height: 1167px;
    max-width: 1168px;
    angle: 0 deg;
    opacity: 1;
    gap: 24px;
    background-color: green;
    box-sizing: border-box;
    
}
















#footer{
    width: 1920px;
    height: 160px;
    angle: 0 deg;
    opacity: 1;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
    gap: 10px;
    border-top-width: 1px;
    background-color: orange;
    box-sizing: border-box;
}