#layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1168px;
    min-width: 1168px;
    /* 피그마 레이아웃 720 */
    /* height: 445px; */
    opacity: 1;
    /* background-color: rgba(217, 217, 217, 1); */
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1168px;
    height: 554px;
    max-width: 1168px;
    opacity: 1;
    gap: 24px;
    padding-bottom: 16px;
    border-bottom-width: 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

#detail_top_container {
    display: flex;
    flex-direction: column;
    width: 1168px;
    height: 84px;
    max-width: 1168px;
    opacity: 1;
    gap: 16px;    
}

#detail_title_container {
    width: 1168px;
    height: 36px;
    max-width: 1168px;
    opacity: 1;
    gap: 10px;
    padding-bottom: 12px;
    border-bottom-width: 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 1)
}

#detail_feel_container {
    display: flex;
    justify-content: space-between;
    width: 1168px;
    height: 32px;
    max-width: 1168px;
    opacity: 1;    
}

#detail_feel_frame {
    display: flex;
    align-items: center;
}

#detail_feel_frame > p{
    text-align: center;
}

#detail_content_container {
    display: flex;
    flex-direction: column;
    width: 1168px;
    height: 133px;
    max-width: 1168px;
    opacity: 1;
    gap: 12px;
}

#detail_bottom_container {
    display: flex;
    justify-content: end;
    width: 1168px;
    height: 40px;
    max-width: 1168px;
    opacity: 1;
    gap: 16px;
}

#detail_button_frame {
    display: flex;
    width: 51px;
    height: 40px;
    border-radius: 8px;
    border-width: 1px;
    opacity: 1;
    gap: 10px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    border: 1px solid var(--Gray-Gray-200, rgba(212, 211, 211, 1))
}

#detail_bottom_container > button {
    width: 51px;
    height: 40px;
    border-radius: 8px;
    border-width: 1px;
    opacity: 1;
    gap: 10px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    background: var(--Gray-W, rgba(255, 255, 255, 1));
    border: 1px solid var(--Gray-Gray-200, rgba(212, 211, 211, 1));
    cursor: pointer;
}

#reply_container {
    display: flex;
    flex-direction: column;
    width: 1168px;
    max-width: 1168px;
    border-radius: 16px;
    opacity: 1;
    gap: 16px;
}

#reply_content_frame {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 1168px;
    height: 85px;
    max-width: 1168px;
    opacity: 1;
    gap: 13px;    
}

#input_reply_frame {
    display: flex;
    width: 1168px;
    height: 48px;
    opacity: 1;
    gap: 16px;    
}

#input_reply_frame > textarea {
    width: 1101px;
    height: 48px;
    border-radius: 8px;
    border-width: 1px;
    opacity: 1;
    gap: 10px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    background: var(--Gray-W, rgba(255, 255, 255, 1));
    border: 1px solid var(--Gray-Gray-200, rgba(212, 211, 211, 1));    
    resize: none;
}

#input_reply_frame > button {
    width: 51px;
    height: 48px;
    border-radius: 8px;
    opacity: 1;
    gap: 10px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    color: white;
    background: var(--Gray-B, rgba(0, 0, 0, 1));
    cursor: pointer;
}

#input_reply_frame {
    width: 1168px;
    height: 48px;
    opacity: 1;
    gap: 16px;    
}

#reply_content_flag {
    width: 1168px;
    max-width: 1168px;
    border-radius: 16px;
    opacity: 1;
    gap: 12px;    
}

.reply_text_frame {
    display: flex;
    width: 1168px;
    height: 24px;
    opacity: 1;
    gap: 12px;
    border-bottom-width: 1px;
}

#reply_text {
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1%;
}

#reply_date {
    font-family: Pretendard Variable;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1%;
    color: var(--Gray-Gray-600, rgba(119, 119, 119, 1));
}

#copy_detail_container {
    display: flex;
    justify-content: space-between;
    width: 91px;
    height: 24px;
    opacity: 1;
    gap: 8px;    
}

#copy_detail_container > p {
    font-family: Pretendard Variable;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -1%;
    color: var(--Gray-Gray-900, rgba(28, 28, 28, 1));
}

#copy_detail_container > img {
    cursor: pointer;
}

#copy_detail_frame {
    display: flex;
    justify-content: flex-end;
    width: 1168px;
    height: 24px;
    max-width: 1168px;
    opacity: 1;
    gap: 8px;    
}

#detail_toast_flag {
    display: flex;
    justify-content: center;
    width: 100%;
}

.copy_toast {
    width: 300px;
    height: 30px;
    background-color: black;
    text-align: center;
    /* 텍스트 높이를 박스의 높이와 같게 만들기 */
    line-height: 30px;
    border-radius: 10px;
    
    animation-name: 철수의애니메이션;
    animation-duration: 2s;

    align-self: center;
}

.copy_toast > p {
    color: white;
}

@keyframes 철수의애니메이션 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}