#layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1168px;
    min-width: 1168px;
    /* 피그마 레이아웃 720 */
    /* height: 720px; */ 
    angle: 0 deg;
    opacity: 1;
    /* background-color: rgba(217, 217, 217, 1); */
}

#main {
    width: 100%;
    height: 100%;
    angle: 0 deg;
    opacity: 1;
    gap: 24px;    
}

#main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    angle: 0 deg;
    opacity: 1;
    gap: 24px;    
}

#top_container {
    display: flex;
    width: 100%;
    height: 240px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding-right: 20px;
    padding-left: 20px;    
}

#top_container > img {
    width: 1168px;
    height: 240px;
    min-width: 320px;
    max-width: 1168px;
    border-radius: 24px;
    angle: 0 deg; 
    opacity: 1;
}

#bottom_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 1257px; */
    angle: 0 deg;
    opacity: 1;
    gap: 42px;
}

#storage_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 112px;
    angle: 0 deg;
    opacity: 1;
    gap: 32px;
}

#storage_tab_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.storage_tab_on {
    width: 119px;
    height: 48px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding-top: 12px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-left: 8px;
    border-bottom-width: 2px; 
    border-bottom: 3px solid rgba(0, 0, 0, 1);

    cursor: pointer;
}

.storage_tab_off {
    width: 119px;
    height: 48px;
    angle: 0 deg;
    opacity: 0.3;
    gap: 10px;
    padding-top: 12px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-left: 8px;

    cursor: pointer;
}

.storage_tab_on, .storage_tab_off > p {
    font-family: Pretendard Variable;
    font-weight: 700;
    font-style: Bold;
    font-size: 23px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
}

#diary_container {
    display: flex;
    /* width: 100%;
    height: 100%;
    max-width: 1168px;
    angle: 0 deg;
    opacity: 1;
    gap: 24px; */

    width: 100%;
    height: 936px;
    angle: 0 deg;
    opacity: 1;
    gap: 24px;
    padding-right: 20px;
    padding-left: 20px;
}

#diary_box_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    angle: 0 deg;
    opacity: 1;
    gap: 24px;
    overflow-y: scroll;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    /* place-items: center center;
    place-content: end center; */
    /* position:absolute; */
}

.diary_content {
    display: flex;
    flex-direction: column;

    width: 258px;
    height: 286px;
    min-width: 152px;
    border-radius: 16px;
    angle: 0 deg;
    opacity: 1;
    gap: 16px;
    padding-bottom: 16px;

    position: relative;
}

#view_content_detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    angle: 0 deg;
    opacity: 1;
    gap: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

#top_view_content_detail {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 24px;
    justify-content: space-between;
    angle: 0 deg;
    opacity: 1;
}

#bottom_view_content_detail {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 24px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
}

#top_view_content_detail > p {
    cursor: default;
}


#bottom_view_content_detail > a {
    color: black;
    text-decoration: none;
}

#img_frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 208px;
    border-radius: 16px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
}

.diary_content > a > img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
}

.diary_content > a > img:hover {
    filter: blur(5px);
    width: 110%;
    height: 110%;
    transition: 0.5s;
}

#feeling_choice_container {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 108px;
    angle: 0 deg;
    opacity: 1;
    gap: 16px;
}

#feeling_radio_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 312px;
    height: 68px;
    max-width: 592px;
    angle: 0 deg;
    opacity: 1;
    gap: 20px;
}

#feeling_radio_content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* width: 94px; */
    height: 24px;
    border-radius: 8px;
    angle: 0 deg;
    opacity: 1;
    gap: 8px;    
}

#feeling_radio_content > input {
    width: 24px;
    height: 24px;
    angle: 0 deg;
    opacity: 1;
}

#feeling_radio_content > p {
    text-align: center;
    font-family: Pretendard Variable;
    font-weight: 500px;
    font-style: Medium;
    font-size: 17px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
}

#writing_content_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 312px;
    height: 256px;
    angle: 0 deg;
    opacity: 1;
    gap: 24px;    
}

#writing_title_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 312px;
    height: 76px;
    angle: 0 deg;
    opacity: 1;
    gap: 8px;    
}

#title_input_container {
    width: 312px;
    height: 48px;
    border-radius: 8px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border: 1px solid var(--Gray-Gray-200, rgba(212, 211, 211, 1))
}

#title_input {
    width: 280px;
    height: 24px;
    angle: 0 deg;
    opacity: 1;
    border: 0px;
    resize: none;
}

#writing_detail_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 312px;
    height: 156px;
    angle: 0 deg;
    opacity: 1;
    gap: 8px;    
}

#detail_input_container {
    width: 312px;
    height: 128px;
    border-radius: 8px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border: 1px solid var(--Gray-Gray-200, rgba(212, 211, 211, 1))
}

#detail_input {
    width: 280px;
    height: 100px;
    angle: 0 deg;
    opacity: 1;
    border: 0px;
    resize: none;
}

/* 모달 */
#write_diary_container {
    
    position: absolute;
    top: calc(50% - 500px/2);
    left: calc(50% - 400px/2);

    display: flex;
    flex-direction: column;
    width: 360px;
    height: 604px;
    min-width: 360px;
    max-width: 760px;
    border-radius: 16px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    gap: 40px;
    padding: 24px;
    border: 1px solid var(--Gray-Gray-200, rgba(212, 211, 211, 1));
    background-color: white;
}

#write_diary_container > p {
    width: 312px;
    height: 24px;
    angle: 0 deg;
    opacity: 1;
}

#writing_container {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 404px;
    angle: 0 deg;
    opacity: 1;
    gap: 40px;
}

#writing_confirm_container {
    display: flex;
    justify-content: space-evenly;
}

#writing_confirm_container > button {
    width: 104px;
    height: 48px;
    border-radius: 8px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    cursor: pointer;
}

.close_modal_button {
    background: var(--Gray-W, rgba(255, 255, 255, 1));
    border: 1px solid var(--Gray-B, rgba(0, 0, 0, 1));
}

.confirm_modal_button {
    background: var(--Gray-B, rgba(0, 0, 0, 1));
    color: rgba(242, 242, 242, 1);
}

#writing_confirm_container > button > p {
    font-family: Pretendard Variable;
    font-weight: 600px;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
}

#filter_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1168px;
    height: 32px;
    min-width: 320px;
    max-width: 1168px;
    angle: 0 deg;
    opacity: 1;
    gap: 8px;       
}

.storage_filter {
    width: 120px;
    height: 32px;
    min-width: 120px;
    border-radius: 8px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding: 4px;
    border: 1px solid var(--Gray-Gray-300, rgba(199, 199, 199, 1));
    background: var(--Gray-W, rgba(255, 255, 255, 1));
}

#diary_float_btn {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    border: 1px solid var(--Gray-Gray-50, rgba(242, 242, 242, 1));
    background: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    
    position: fixed;
    bottom: 100px;
    left: 78%;
}

#content_delete_button {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    angle: 0 deg;
    opacity: 1;

    top: 3%;
    left: 90%;
}

#content_delete_button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

#diary_resist_button {
    width: 110px;
    height: 48px;
    border-radius: 8px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    background: var(--Gray-B, rgba(0, 0, 0, 1));
    cursor: pointer;
}

#diary_resist_button_frame {
    display: flex;
    width: 90px;
    height: 24px;
    angle: 0 deg;
    opacity: 1;
    gap: 4px;
}

#diary_resist_button_frame > p {
    color: white;
    font-family: Pretendard Variable;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
}

.modal_group {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.modal_background {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    opacity: 80%;
}

.overlap_modal {
    width: 480px;
    height: 200px;
    min-width: 480px;
    max-width: 760px;
    border-radius: 24px;
    angle: 0 deg;
    opacity: 1;
    top: 643px;
    left: 720px;
    gap: 40px;
    padding: 24px;
    background: rgba(255, 255, 255, 1);
    /* background: aqua; */

    position: absolute;
    top: calc(50% - 150px/2);
    left: calc(50% - 520px/2);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cancel_modal_text_frame {
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 432px;
    height: 64px;
    angle: 0 deg;
    opacity: 1;
    gap: 16px;
}

.cancel_modal_button_frame {
    display: flex;
    justify-content: space-evenly;
    width: 229px;
    height: 48px;
    angle: 0 deg;
    opacity: 1;
    gap: 21px;
}

.cancel_modal_button_frame > button {
    width: 104px;
    height: 48px;
    border-radius: 8px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    cursor: pointer;
}

.cancel_modal_button_frame > button > p {
    font-family: Pretendard Variable;
    font-weight: 600px;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
}

.cancel_modal_text_frame p:nth-child(1) {
    font-family: Pretendard Variable;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: center;
}

.cancel_modal_text_frame p:nth-child(2) {
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: center;
    color: var(--Gray-Gray-800, rgba(51, 51, 51, 1));
}

#confirm_success_button {
    width: 432px;
    height: 48px;
    angle: 0 deg;
    opacity: 1;
    gap: 21px;
    background: var(--Gray-B, rgba(0, 0, 0, 1));
    color: white;
}