.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 192rem;
  min-height: 100vh;
}

.pages {
  max-width: 128rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex: 1;
}
