.pagination {
  display: flex;
  gap: 8px;
  margin: 0 auto;
  align-items: center;
}

.pagination > svg {
  width: 24px;
  height: auto;
  color: #333333;
  cursor: pointer;
}
.isDisabled {
  color: #c7c7c7 !important;
  cursor: default !important;
}
.paginationNav {
  display: flex;
  gap: 16px;
}

.paginationNav > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #777;
}

.isActive {
  font-weight: 500;
  border-radius: 8px;
  background-color: #f2f2f2;
  color: #000 !important;
}
