.photo-item {
    width: 192rem; /* 1920px */
    height: 100%;
    border-radius: 1rem; /* 10px */
    display: flex;
    margin: 0 auto;

    @media (max-width: 78.6rem) {
        width: 100%;
        height: 100%;
    }
}

.photo-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem; /* 12px */
    justify-content: center;
    align-items: center;
    width: 192rem; /* 1920px */

    @media (max-width: 78.6rem) {
        padding: 0 2rem;
    }
}

.photo-card {
    width: 64rem; /* 640px */
    height: 100%;
    border-radius: 1.2rem; /* 12px */
    overflow: hidden;

    @media (max-width: 78.6rem) {
        width: 28.8rem;
        height: auto;
    }
}

.ratio-square    { aspect-ratio: 1 / 1; }
  .ratio-landscape { aspect-ratio: 4 / 3; }
  .ratio-portrait  { aspect-ratio: 3 / 4;}

  .photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.photo-Skeleton-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    width: 192rem; /* 1920px */
    margin: 0 auto;

    @media (max-width: 78.6rem) {
        width: 100%;
        height: 100%;
    }
}


.photo-Skeleton-item {
    width: 64rem; /* 640px */
    height: auto; 
    background-color: var(--gray-30);
    border-radius: 1.2rem; /* 12px */
    overflow: hidden;

    @media (max-width: 78.6rem) {
        width: 28.8rem;
        height: auto;
    }
}

.photo-Skeleton-stick {
    width: 64rem; /* 640px */
    height: 100%;
    background-color: white;
    filter: blur(20rem);

    animation-name: SkeletonAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.photo-list-body-contents {
    width: 192rem;
    height: 100%;
    background-color: var(--white);
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4.2rem;

    @media (max-width: 78.6rem) {
        width: 100%;
        height: 100%;
        margin: 0;
        text-align: center;
        margin-bottom: 4rem;
    }

}


@keyframes SkeletonAnimation {
    from {
        transform: translate(-64rem, -64rem) rotateZ(30deg);
    }
    to {
        transform: translate(64rem, 64rem) rotateZ(30deg);
    }
}

@media (max-width: 102.4rem) { /* 1024px */
    .photo-card { width: calc(33.333% - 0.8rem); } /* -8px */
}

@media (max-width: 78rem) { /* 780px */
    .photo-card { width: calc(50% - 0.6rem); } /* -6px */
}

@media (max-width: 48rem) { /* 480px */
    .photo-card { width: 100%; }
}


