.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  min-height: 10.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--white);
  border-radius: 1.5rem;
}

.modal_content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
}

.modal_header {
  width: 100%;
  text-align: center;
}

.modal_primary_button {
  width: 7.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  cursor: pointer;
  border: none;
}
.modal_primary_button:hover {
  opacity: 0.9;
}
.modal_secondary_button {
  width: 7.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--black);
}
.modal_secondary_button:hover {
  opacity: 0.9;
}
