.mybutton {
    display: flex;
    height: 3rem;
    padding: 0.75rem 1rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .primary {
    background-color: #2974e5;
    color: #fff;
    border: none;
  }
  
  .secondary {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
  
  .disabled {
    background-color: #c7c7c7;
    color: #e4e4e4;
    cursor: not-allowed;
  }
  