.b_20_28 {
    font-family: Pretendard;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}

.b_28_36 {
    font-family: Pretendard;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0%;
}

.r_14_20 {
    font-family: Pretendard Variable;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}

.r_16_24 {
    font-family: Pretendard Variable;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.me_16_24 {
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.sb_14_20 {
    font-family: Pretendard Variable;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.sb_18_24 {
    font-family: Pretendard Variable;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}