* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.가장큰배경 {
  width: 1920px;
  height: 1208px;
  background-image: url("./assets/images/bg1.png");
}

.헤더 {
  /* flex 디폴트 값은 row 세로로 하고 싶으면 flex-direction 사용 */
  display: flex;
  width: 1920px;
  height: 80px;
}

.헤더__왼쪽영역 {
  width: 480px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  padding-right: 16px;
}

.헤더__오른쪽영역 {
  width: 1440px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
}

.헤더__오른쪽영역__프로필설정 {
  width: 163px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.바디 {
  display: flex;
  width: 1920px;
  height: 1048px;
}

.바디__사이드바왼쪽 {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  width: 80px;
  height: 1048px;
}
.바디__사이드바왼쪽__첫번째 {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #000;
}
.바디__사이드바왼쪽__두번째 {
  font-size: 14px;
  color: #e4e4e4;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 384px;
}

.바디__사이드바왼쪽__세번째 {
  flex-direction: column;
  width: 40px;
  height: 96px;
  display: flex;
  justify-content: space-between;
}
.바디__메인 {
  display: flex;
  width: 1760px;
  height: 1048px;
  background-image: url("./assets/images/bg2.png");
}

.바디__메인__메뉴 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 1048px;
  padding: 20px;
}
.바디__메인__메뉴__첫번째 {
  font-size: 24px;
  color: #fff;
  width: 360px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
.바디__메인__메뉴__두번째 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  width: 360px;
  height: 30px;
  background-color: #fff;
}

.바디__메인__메뉴__세번째 {
  width: 360px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.바디__메인__메뉴__세번째__왼쪽 {
  padding: 4px 0;
  font-size: 22px;
  width: 157px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.바디__메인__메뉴__세번째__왼쪽__14기 {
  color: #fff;
  display: flex;
  width: 125px;
  height: 32px;
  align-items: center;
}
.바디__메인__메뉴__세번째__오른쪽 {
  background-color: rgba(255, 255, 255, 0.2);
  width: 66px;
  height: 32px;
  padding: 4px 12px;
  color: #fff;
  display: flex;
  align-items: center;
}

.바디__메인__메뉴__네번째 {
  width: 360px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.바디__메인__메뉴__네번째__왼쪽 {
  padding: 4px 0;
  font-size: 22px;
  width: 157px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.바디__메인__메뉴__네번째__왼쪽__수강생리스트 {
  color: #fff;
  display: flex;
  width: 125px;
  min-height: 32px;
  align-items: center;
  flex-direction: column;
}
.바디__메인__메뉴__네번째__오른쪽 {
  display: flex;
  align-items: center;
}

.바디__메인__메뉴__오번째 {
  color: #c9aac9;
  width: 344px;
  height: 40px;
  margin: 8px;
  text-align: center;
}
.바디__메인__메뉴__육번째 {
  font-size: 20px;
  color: #fff;
  background-color: #491449;
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 126px;
  height: 40px;
}

.바디__메인__메뉴__칠번째 {
  width: 360px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.바디__메인__메뉴__칠번째__왼쪽 {
  padding: 4px 0;
  font-size: 22px;
  width: 157px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.바디__메인__메뉴__칠번째__왼쪽__수강생리스트 {
  color: #fff;
  display: flex;
  width: 125px;
  min-height: 32px;
  align-items: center;
}
.바디__메인__메뉴__칠번째__오른쪽 {
  display: flex;
  justify-content: start;
  align-items: center;
}

.바디__메인__메뉴__칠번째_채널 {
  width: 360px;
  height: 32px;
  color: #d4d3d3;
  padding: 4px 16px;
  display: flex;
  align-items: center;
}

.바디__메인__메뉴__팔번째 {
  width: 360px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.바디__메인__메뉴__팔번째__왼쪽 {
  padding: 4px 0;
  font-size: 18 px;
  width: 157px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.바디__메인__메뉴__팔번째__왼쪽__차단멤버리스트 {
  color: #fff;
  display: flex;
  width: 125px;
  height: 32px;
  align-items: center;
}

.바디__메인__회원가입 {
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  width: 680px;
  height: 1048px;
}

.바디__메인__회원가입__타이틀 {
  color: #491449;
  font-weight: 800;
  text-align: center;
  width: 560px;
  height: 112px;
  font-size: 40px;
}

.바디__메인__회원가입__입력폼 {
  width: 560px;
  height: 548px;
  padding: 0 56px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.바디__메인__회원가입__입력폼__이름 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  width: 448px;
  height: 44px;
}
.바디__메인__회원가입__입력폼__이름__라벨 {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.바디__메인__회원가입__입력폼__이름__인풋 {
  display: flex;
  width: 320px;
  height: 44px;
  padding: 8px 12px;
  justify-content: center;
  gap: 10px;
}

.바디__메인__회원가입__입력폼__이메일 {
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  display: flex;

  width: 448px;
  height: 44px;
}
.바디__메인__회원가입__입력폼__이메일__라벨 {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.바디__메인__회원가입__입력폼__이메일__인풋 {
  display: flex;
  width: 320px;
  height: 44px;
  padding: 8px 12px;
  align-items: center;
  gap: 10px;
}
.바디__메인__회원가입__입력폼__비밀번호 {
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  display: flex;
  width: 448px;
  height: 44px;
}
.바디__메인__회원가입__입력폼__비밀번호__라벨 {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.바디__메인__회원가입__입력폼__비밀번호__인풋 {
  display: flex;
  width: 320px;
  height: 44px;
  padding: 8px 12px;
  align-items: center;
  gap: 10px;
}
.바디__메인__회원가입__입력폼__전화번호 {
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  display: flex;
  width: 448px;
  height: 44px;
}

.바디__메인__회원가입__입력폼__전화번호__라벨 {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.바디__메인__회원가입__입력폼__전화번호__인풋 {
  display: flex;
  width: 320px;
  height: 44px;
  padding: 8px 12px;
  align-items: center;
  gap: 10px;
}

.바디__메인__회원가입__입력폼__인증번호요청 {
  width: 448px;
  height: 92px;
  display: flex;
  flex-direction: column;
}
#인증번호보여주는곳 {
  padding-right: 12px;
}
.바디__메인__회원가입__입력폼__인증번호요청__첫번째 {
  width: 448px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#남은시간보여주는곳 {
  padding-right: 12px;
}
.바디__메인__회원가입__입력폼__인증번호요청__두번째 {
  width: 448px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.바디__메인__회원가입__입력폼__자기소개 {
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  display: flex;
  width: 448px;
  height: 116px;
}

.바디__메인__회원가입__입력폼__자기소개__라벨 {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.바디__메인__회원가입__입력폼__자기소개__인풋 {
  display: flex;
  width: 320px;
  height: 116px;
  padding: 8px 12px;
  align-items: center;
  gap: 10px;
}
.바디__메인__회원가입__입력폼__성별 {
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: row;
  width: 448px;
  height: 44px;
}
.바디__메인__회원가입__입력폼__성별__라벨 {
  width: 120px;
  height: 24px;
}
.바디__메인__회원가입__입력폼__성별__선택 {
  display: flex;
  width: 320px;
  height: 44px;
  align-items: center;
}
.바디__메인__회원가입__가입 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.바디__메인__회원가입__가입__버튼 {
  padding: 12px 16px;
  width: 448px;
  height: 48px;
}
.바디__메인__사진 {
  width: 680px;
  height: 1048px;
  background-image: url("./assets/images/picture.png");
}

/* 비어있는 공간이지만 바이브 코딩에선 필요해서 div 처리 */
.바디__사이드바오른쪽 {
  width: 80px;
  height: 1048px;
}

.푸터 {
  width: 1920px;
  height: 80px;
}
