.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.gap32 {
  width: 1168px;
  height: 32px;
}

.search {
  width: 1168px;
  height: 48px;
}

.gap42 {
  width: 1168px;
  height: 42px;
}

.main {
  width: 1168px;
  height: 936px;
}

.gap40 {
  width: 1168px;
  height: 40px;
}

.pagination {
  width: 1168px;
  height: 32px;
}
