.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 24px;
}
.rightGroup {
}
.postItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 24px;
}
