.layout {
    width: 100%;
    padding: 0 1.25rem;
  } 
  
  .container {
    width: 100%;
    max-width: 80rem;  
    margin: 0 auto;
    padding: 2.5rem 1.25rem;
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  
  .detailSubjectText {
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.75rem;
    color: #000;
  }
  
  .detailBorder {
    width: 100%;
    height: 1px;
    background: var(--gray-100, #e4e4e4);
  }
  
  .detailRowFlex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.375rem;
    align-self: stretch;
  }
  
  .detailMetadataProfile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
  
    color: var(--gray-700, #5F5F5F);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.25rem;
    
  }
  
  .detailMetadataDate{
    white-space: nowrap;
    color: #818181;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 

  }
  .detailMetadataContainer {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    align-self: stretch;
    color: #818181;
  } 
  
  .detailMetadataIconContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }
  
  .detailContentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .detailContentText {
    align-self: stretch;
  
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
  }    
  
  .detailVideoPreview {
    width: 100%;
  }
  
  .detailContentGoodOrBad {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
  }
  
  .detailBadContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    color: #5F5F5F;
  }
  
  .detailGoodContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    color: #F66A6A;
  }
  
  /* 버튼영역 */
  .detailButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
  }
  
  .detailButton {
    appearance: none;
    display: flex;
    height: 3rem;
    padding: 0.5rem 0.75rem;
    align-items: center;
    gap: 0.5rem;
  
    cursor: pointer;
  
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color: #fff;
  
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    color: #000;
    text-align: center;
  }
  