/* 모달 */

.modal {
    display: none;
    position: fixed;  /* fixed가 적합 */
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    /* z-index: 9999;  최상단으로 올리기 */
}

.모달 {
    background-color: var(--기본배경색);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 2.4rem;
    padding: 2.4rem;
    gap: 4.0rem;
    /* z-index: 10000; 모달 배경보다 위 */

    display: flex;
    flex-direction: column;

    transition: background-color 0.5s;
}

.diaryModal {
    /* top: calc(50% - 56.0rem / 2);
    left: calc(50% - 64.0rem / 2); */

    width: 64.0rem;
    /* height: 560px; */

    width: 64.0rem;
    min-width: 64.0rem;
    max-width: 76.0rem;
}

.일기쓰기__상단구역 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.일기쓰기__타이틀 {
    text-align: start;
    color: var(--기본글자색);
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.024rem;
}

.다크모드__토글 {
    display: flex;
    width: 9.0rem;
    height: 2.4rem;
    gap: 0.8rem;

    align-items: center;
}

.다크모드__글자 {
    color: var(--흰버튼글자색);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -0.012rem;
}

.토글클릭 {
    appearance: none;
    width: 4.0rem;
    height: 2.4rem;
    padding: 0.2rem;

    border-radius: 10.0rem;
    background: #E4E4E4;
}

.토글클릭::after {
    display: block;
    content: "";
    width: 2.0rem;
    height: 2.0rem;
    background-color: white;
    border-radius: 50%;

    transition: transform 0.3s;
}

.토글클릭:checked {
    background-color: #3AD84A;
}

.토글클릭:checked::after {
    transform: translate(calc(100% - 0.2rem - 0.2rem)); /* 좌우 2px 제외하고 맨 오른쪽으로 이동 */
}

/* 라이트모드 */

:root {
    --기본글자색: #000;
    --기본배경색: #FFF;
    --추가글자색: #333;
    --인풋배경색: #FFF;
    --인풋플레이스홀더색: #ABABAB;
    --인풋보더색: #D4D3D3;
    --검정버튼글자색: #F2F2F2;
    --검정버튼배경색: #000;
    --비활성화배경색: #C7C7C7;
    --비활성화글자색: #F2F2F2;
    --흰버튼글자색: #1C1C1C;
    --흰버튼배경색: #FFF;
}

/* 다크모드 */

.다크모드 {
    --기본글자색: #FFF;
    --기본배경색: #1C1C1C;
    --추가글자색: #C7C7C7;
    --인풋배경색: #000;
    --인풋플레이스홀더색: #777;
    --인풋보더색: #333;
    --검정버튼글자색: #000;
    --검정버튼배경색: #F2F2F2;
    --비활성화배경색: #333;
    --비활성화글자색: #777;
    --흰버튼글자색: #FFF;
    --흰버튼배경색: #1C1C1C; 
}

.다크모드 {
    color: var(--기본글자색);
    background-color: var(--기본배경색);
}

.다크모드 input {
    background-color: var(--인풋배경색);
    color: var(--기본글자색);
}

.다크모드 input::placeholder {
    color: var(--인풋플레이스홀더색);
}

.다크모드 흰버튼 {
    color: var(--흰버튼글자색);
    background-color: var(--흰버튼배경색);
    border: var(--흰버튼글자색);
}

.다크모드 검정버튼 {
    color: var(--검정버튼글자색);
    background-color: var(--검정버튼배경색);
    border: var(--검정버튼글자색);
}

/* 다크모드 완료 */

.기분체크구역 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 6.4rem;
    gap: 1.6rem; 
}

.기분체크질문 {
    color: var(--기본글자색);
    font-size: 2.0rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
}

.기분체크목록 {
    display: flex;
    flex-wrap: wrap;
    gap: 2.0rem;
}

.기분체크틀 {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    height: 2.4rem;
}

.radio {
    width: 2.4rem;
    height: 2.4rem;
}

.기분 {
    color: var(--추가글자색);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.018rem;
}

.입력틀 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 0.8rem;
}

.소제목 {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -0.014rem;
    color: var(--추가글자색)
}

#제목__내용입력, #내용__내용입력 {
    width: 100%;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--인풋보더색);
    background: var(--인풋배경색);
    padding: 1.2rem 1.6rem;

    font-size: 1.6rem;
    color: var(--기본글자색);
}

#제목__내용입력::placeholder,
#내용__내용입력::placeholder {
    color: var(--인풋플레이스홀더색);
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.016rem;
}
#제목__내용입력 {
    height: 4.8rem;
}

#내용__내용입력 {
    height: 12.8rem;
}

.버튼영역 {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.흰버튼 {
    width: 10.4rem;
    height: 4.8rem;
    padding: 0.8rem 1.0rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--흰버튼글자색);
    background: var(--흰버튼배경색);

    color: var(--흰버튼글자색);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.018rem;
}

.검정버튼 {
    width: 10.4rem;
    height: 4.8rem;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--검정버튼배경색);
    padding: 0.8rem 1.0rem;

    color: var(--검정버튼글자색);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.018rem;
}

.검정버튼:disabled {
    background-color: var(--비활성화배경색);
    color: var(--비활성화글자색);
    cursor: not-allowed;    /* 마우스 커서 비활성 표시 */
  }

.finishModal {
    /* top: calc(50% - 20.0rem / 2);
    left: calc(50% - 48.0rem / 2); */

    width: 48.0rem;
    /* height: 20.0rem; */
}

.문구모음 {
    display: flex;
    flex-direction: column;
    align-self: stretch;

    gap: 1.6rem;
}

.문구1 {
    align-self: stretch;
    color: var(--기본글자색);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.024rem;
}

.문구2 {
    align-self: stretch;
    color: var(--추가글자색);
    text-align: center;
    font-size: 2.0rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
}

.확인버튼 {
    height: 4.8rem;
    padding: 0.8rem 1.0rem;

    border-radius: 0.8rem;
    background: var(--검정버튼배경색);

    color: var(--검정버튼글자색);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.018rem;
}

.cancelModal {
    /* top: calc(50% - 20.0rem / 2);
    left: calc(50% - 48.0rem/ 2); */

    width: 48.0rem;
    /* height: 20.0rem; */
}

.deleteModal {
    width: 48.0rem;
}

.delFinishModal {
    width: 48.0rem;
}