/* BoardDetail.js */
.page {
  width: 100%;
  /* padding: 0 20rem; */
  gap: 2.5rem;
}
.detailContainer {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem 0;
  gap: 1.5rem;
}
.detailTitle {
  color: #000;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
}
.detailAuthor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detailAuthor__name {
  display: flex;
  align-items: center;
  color: var(--gray-700, #5f5f5f);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  gap: 0.25rem;
}
.detailAuthor__date {
  color: #818181;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
.detailLinkLocation {
  display: flex;
  justify-content: end;
  align-items: center;
}
.detailLinkLocation__enroll {
  max-width: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detailPhoto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.detailContent {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}
.detailVideo {
  display: flex;
  padding: 1.5rem 0;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  background: var(--gray-50, #f2f2f2);
}
.detailVideo__size {
  display: flex;
  max-width: 51.375rem;
  width: 100%;
  height: 29rem;
}
.detailHeart {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.detailHeart__bad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailHeart__good {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailButtonEnroll {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.detailButtonList {
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--gray-B, #000);
  background: var(--gray-w, #fff);
  display: flex;
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
}
.detailButtonEdit {
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--gray-B, #000);
  background: var(--gray-w, #fff);
  display: flex;
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
}
.uploadImage {
  width: 300px;
  object-fit: cover;
}
