.head {
  /* width: 1920px; */
  height: 80px;
  /* background-color: orange; */
  display: flex;
  justify-content: center;
}

.header {
  width: 1920px;
  height: 80px;
  gap: 10px;
  padding-right: 20px;
  padding-left: 20px;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
}

.header_inside {
  width: 1280px;
  height: 80px;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  angle: 0 deg;
  opacity: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: gray; */
  flex-direction: row;
}

.header_left {
  width: 364px;
  height: 40px;
  gap: 24px;
  display: flex;
  /* background-color: aqua; */
  justify-content: space-between;
  align-items: center;
}

.logo_area {
  width: 56px;
  height: 32px;
  /* background-color: orange; */
}

.tap {
  width: 284px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  align-items: center;
  /* background-color: palevioletred; */
  box-sizing: border-box;
}

.triptalk {
  width: 72px;
  height: 40px;
  gap: 10px;
  border-bottom-width: 2px;
  padding: 8px;
  /* background-color: brown; */
  font-family: Pretendard Variable;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  line-height: 30px;
}

.buyticket {
  width: 90px;
  height: 40px;
  border-radius: 8px;
  gap: 10px;
  padding: 8px;
  /* background-color: brown; */
  font-family: Pretendard Variable;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  line-height: 30px;
}

.mypage {
  width: 90px;
  height: 40px;
  border-radius: 8px;
  angle: 0 deg;
  opacity: 1;
  gap: 10px;
  padding: 8px;
  /* background-color: brown; */
  font-family: Pretendard Variable;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  line-height: 30px;
}

.header_right {
  width: 68px;
  height: 40px;
  gap: 8px;
  display: flex;
  /* background-color: lawngreen; */
}

.button {
  width: 93px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  gap: 8px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  /* background-color: pink; */
}

.left_icon {
  width: 24px;
  height: 24px;
  angle: 0 deg;
  opacity: 1;
  /* background-color: gray; */
}
.right_icon {
  width: 24px;
  height: 24px;
  angle: 0 deg;
  opacity: 1;
  /* background-color: aqua; */
}

.profile {
  width: 68px;
  height: 40px;
  angle: 0 deg;
  opacity: 1;
  gap: 4px;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.profilehead {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  angle: 0 deg;
  opacity: 1;
}

.down_arrow {
  width: 24px;
  height: 24px;
  angle: 0 deg;
  opacity: 1;
  display: flex;
}
