@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/variable/pretendardvariable.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: Pretendard Variable;
}

.가장큰배경 {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
  margin: 0 2rem 4rem;
}
.큰배경 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6.4rem;
}
.헤더 {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
}
.헤더__타이틀 {
    width: 100%;
    display: flex;
    align-item s: center;
    /* margin-bottom: 6.4rem;    */
    

} 
.헤더__타이틀 > h3{
    font-family: Pretendard Variable;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 16px;
    letter-spacing: -1%;
}
.바디 {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
}
.바디__메인 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    border-bottom: 1px solid black;
    padding-bottom: 1.6rem;
}
.바디__메인__감정섹션 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6rem;
}
.바디__메인__감정섹션 > h3{
    font-family: Pretendard Variable;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
    
}
.바디__메인__감정섹션__감정수정 { 
    height: 1.5rem;
    display: flex;
    gap: 2rem;

    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: -1%;
    
}

.바디__메인__제목섹션 {
    width: 100%;
    /* height: rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
}
.바디__메인__제목섹션 span{
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: -1%;
    
}
.바디__메인__제목섹션__제목수정{
    width: 100%;
    height: 3rem;
    padding: 1.2rem 1.6rem 1.2rem 1.6rem; 
    
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
    box-shadow: none;           /* 그림자 제거 */
  -webkit-appearance: none; /* Safari, iOS 기본 스타일 제거 */
  -moz-appearance: none;    /* Firefox */
  appearance: none;         /* 표준 */
  box-shadow: none;          /* 모서리 둥근 효과 제거 (필요시) */
  /* border: 1px solid #000; */
  border-color: #D4D3D3;


    
}

.바디__메인__내용섹션 {
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
}
.바디__메인__내용섹션 span{
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: -1%;
    
}
.바디__메인__내용섹션__내용수정 {
    width: 100%;
    /* font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    border-color: #D4D3D3;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
    padding: 1.2rem 1.6rem 1.2rem 1.6rem;
    height: 12.8rem ;
    box-shadow: none;            */
    padding: 1.2rem 1.6rem 1.2rem 1.6rem;
    border: 0.1rem solid #D4D3D3;
    /* border-color: #000; */
    /* border-color: #D4D3D3; */
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
}

.바디__메인__버튼섹션 {
    width: 100%;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.바디__메인__버튼섹션__취소버튼 {
    width: 10.4rem;
    height: 4.8rem;
    border: 0px solid #000;
    /* border: 0.1rem solid #000;
    border-radius: 0.8rem;
    padding: 0.8rem 1rem 0.8rem 1rem;
    font-family: Pretendard Variable;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%; */
    


}
.바디__메인__버튼섹션__수정버튼 {
    width: 10.4rem;
    height: 4.8rem;
    border: 0px solid #000;
    /* border: 0.1rem solid #000;
    border-radius: 0.8rem;
    padding: 0.8rem 1rem 0.8rem 1rem;
    background-color: black;
    color: #F2F2F2;
    font-family: Pretendard Variable;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
     */
}


.바디__회고 {
    width: 100%;
    height: 17.3rem;
}
.바디__회고__입력섹션 {
    height: 8.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.바디__회고__입력섹션 > span{
    font-family: Pretendard Variable;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
    
}
.바디__회고__입력섹션__회고입력영역 {
    height: 4.8rem;
    display: flex;
    justify-content: space-between;
}
.바디__회고__입력섹션__회고입력영역> input {
    width: 100%;
    padding: 1.2rem 1.6rem 1.2rem 1.6rem;
    border: 0.1rem solid #D4D3D3;

    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
    
    
}
.바디__회고__입력섹션__회고입력영역 > button {
    width: 5.1rem;
    height: 4.8rem;
    background-color: #C7C7C7;
    font-family: Pretendard Variable;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
    color: #F2F2F2;
    border-radius: 0.8rem;
    border: 1px solid #C7C7C7;
    
    
}
.바디__회고__출력섹션 {
    height: 7.2rem;
   /* border-bottom : 0.1rem solid #e4e4e4; */
}

.바디__회고__출력섹션__회고목록{
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid #e4e4e4;
    /* padding: 1.2rem; */
}

.바디__회고__출력섹션__회고목록__마지막 {
    display: flex;
    align-items: center;
    /* padding: 1.2rem; */
  }

.바디__회고__출력섹션__회고목록__날짜영역 {
    color: #777;
    font-family: Pretendard Variable;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
    padding-left: 1.2rem;
    padding: 1.2rem;
    
}

.바디__회고__출력섹션__회고목록__내용영역 {
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
    padding: 1.2rem;
}
