* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}

li,ul{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

a{
    appearance: none;
    text-decoration: none;
}

.컨테이너 {

    /* max-width: 116.8rem; */
    max-width: 116.8rem;
  }

.가장큰배경 {
    width: 100%;
    
}


.헤더 {
    /* width: 120rem; */
    width: 100%;
    /* height: 3.75rem; */
}
.헤더__제목 {
    /* width: 120rem; */
    height: 3.75rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6rem;
    
    align-items: center;
    
}
.헤더__제목 > span {
    /* width: 73rem; */
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
}

.바디 {
    width: 100%;
    /* max-width: 120rem; */
}

.바디__배너 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.바디__메인섹션 {
    /* width: 120rem; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}

.바디__메인섹션__메뉴섹션 {
    /* width: 120rem; */
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.바디__메인섹션__메뉴섹션__메뉴 {
    display: flex;
    width: 100%;
    gap: 2.4rem;
    margin-top: 2.4rem;
    margin-bottom: 4.2rem;
    color: #ababab;
}
.바디__메인섹션__메뉴섹션__메뉴 > div {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 0.8rem;
    cursor: pointer;
}

.선택된메뉴{
    border-bottom: 0.2rem solid #000;
    display: flex;
    color: #000;
}

.바디__메인섹션__필터섹션 {
    /* width: 12s0rem; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    position: sticky;
    z-index: 2;
}
.바디__메인섹션__필터섹션__필터영역{
    display: flex;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 3;
    backdrop-filter: blur(1rem)
    
}
.바디__메인섹션__필터섹션__필터영역__서치바영역 {
    display: flex;
    gap: 0.8rem;
    min-width: 32rem;
    max-width: 36rem;
    height: 4.8rem;
    position: absolute;
    left: 13.6rem;
    border-radius: 10rem;
    border: 1px solid #C7C7C7;
    padding: 1.2rem 1.6rem 1.2rem 1.6rem;
    
}
.바디__메인섹션__필터섹션__필터영역__서치바영역__서치바{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    appearance: none;
    border: 0px;
    /* border: 1px solid #000; */
}

.바디__메인섹션__필터섹션__필터__드랍다운제목{
    display: block;
    appearance: none;
    min-width: 12rem;
    height: 4.8rem;
    padding: 0.4rem;
    border-radius: 0.8rem;
    border: 0.1rem solid #c7c7c7;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    padding: 1.2rem 8rem 1.2rem 1.2rem;

    position: absolute;
    top: 0;
    left: 0;

    --필터변수 : "전체"
    
}

.바디__메인섹션__필터섹션__필터__드랍다운제목::after{
    content: var(--필터변수)
    
}
/* .바디__메인섹션__필터섹션__필터__드랍다운제목:checked + {
    background-color: yellow;
} */
.바디__메인섹션__필터섹션__필터__드랍다운제목:checked + .바디__메인섹션__필터섹션__필터__드랍다운목록{
    display: block;
}
.바디__메인섹션__필터섹션__필터__드랍다운목록{
    display: none;
    min-width: 12rem;
    border-radius: 0.8rem;
    border: 0.1rem solid #c7c7c7;
    line-height: 2.4rem;
    overflow: hidden;

    position: absolute;
    top: 4.8rem;
    left: 0;
    
}

.바디__메인섹션__필터섹션__필터__드랍다운목록 input{
    appearance: none;
    display: none;

}
.바디__메인섹션__필터섹션__필터__드랍다운목록 label {
    padding: 1.2rem 6.6rem 1.2rem 1.2rem;
    display: block; 
    /* label은 인라인요소로 높이가 없으므로 블럭으로 변경 */
    
    min-width: 12rem;
    height: 4.8rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.4rem;
    background-color: white;
}
.바디__메인섹션__필터섹션__필터__드랍다운목록 label:hover{
    
    color: #299C00;
   } 

.바디__메인섹션__필터섹션__필터영역__일기쓰기버튼{
    border: 0px;
}


/* #필터{
    min-width: 12rem;
    padding: 0.4rem;
    border-radius: 0.8rem;
    border: 0.1rem solid #c7c7c7;
    height: 3.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
} */

.바디__메인섹션__아티클섹션 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.바디__메인섹션__아티클섹션__일기칸 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.4rem;
    width: 100%;
}


.바디__메인섹션__아티클섹션__일기칸__일기장 > a > img {
    width: 100%;
    object-fit: cover;
    height: 20.8rem;

}

.바디__메인섹션__아티클섹션__일기칸__일기장 {
    /* width: 23.75rem; */
    /* height: 23.3125rem; */
    transition: transform 0.5s;
    position: relative;
    max-width: 27.4rem;
    
}

.바디__메인섹션__아티클섹션__일기칸__일기장:hover {
    filter: blur(3px);
    transform: scale(1.1);
}

.바디__메인섹션__아티클섹션__일기칸__일기장 > div {
    display: flex;
    justify-content: space-between;
}

.바디__메인섹션__아티클섹션__일기칸__일기장__일기정보{
    display: flex;
  flex-direction: column;
  padding: 0 0.8rem 1.6rem;
}

.바디__메인섹션__아티클섹션__일기칸__일기장__일기정보__감정날짜{
    width: 100%;
  display: flex;
  gap: 1.6rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 1.4rem;
  color: #777;
}
.바디__메인섹션__아티클섹션__일기칸__일기장__일기정보__감정__행복{
    width: 100%;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  text-wrap: nowrap;
  color: #ea5757;
}
.바디__메인섹션__아티클섹션__일기칸__일기장__일기정보__감정__슬픔{
    width: 100%;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  text-wrap: nowrap;
  color: #28b4e1;
}
.바디__메인섹션__아티클섹션__일기칸__일기장__일기정보__감정__놀람{
    width: 100%;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  text-wrap: nowrap;
  color: #d59029;
}
.바디__메인섹션__아티클섹션__일기칸__일기장__일기정보__감정__화남{
    width: 100%;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  text-wrap: nowrap;
  color: #777;
}
.바디__메인섹션__아티클섹션__일기칸__일기장__일기정보__감정__기타{
    width: 100%;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  text-wrap: nowrap;
  color: #a229ed;
}
.바디__메인섹션__아티클섹션__일기칸__일기장__일기정보__날짜{
    font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #919191;
  text-align: right;
  width: 100%;
  text-wrap: nowrap;
}
.바디__메인섹션__아티클섹션__일기칸__일기장__제목{
    width: 100%;
  height: 1.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  overflow: hidden;
  color: black;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}


.강아지필터섹션{
    width: 100%;
    display: flex;
    top: 0;
    position: sticky;
    z-index: 2;
    display: none;
}
.강아지필터섹션__강아지필터{
    display: flex;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(1rem);
}
#이미지형태선택{
    min-width: 12rem;
    padding: 0.4rem;
    border-radius: 0.8rem;
    border: 0.1rem solid #c7c7c7;
    height: 3.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
}
#이미지나오는곳{
    width: 100%;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.강아지메뉴{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.바디__메인섹션_아티클섹션__일기칸__일기장__강아지이미지{
    width: 640px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.바디__메인섹션_아티클섹션__일기칸__일기장__가로형이미지{
    width: 640px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
.바디__메인섹션_아티클섹션__일기칸__일기장__세로형이미지{
    height: 640px;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}


.바디__메인섹션__아티클섹션__일기칸__일기장__삭제버튼 {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    z-index: 2;
    
}

/* .바디__메인섹션__아티클섹션__일기쓰기칸 {
    width: 22.5rem;
    height: 37.75rem;
    padding: 1.5rem;
} */

.바디__메인섹션__아티클섹션__일기쓰기칸__머리 {
    /* width: 19.5rem; */
    /* height: 1.5rem; */
    width: 100%;
    height: auto;
}

.바디__메인섹션__아티클섹션__일기쓰기칸__감정상태선택 {
    /* width: 19.5rem; */
    width: 100%;
    /* height: 6.75rem; */
    min-height: 5rem;
    border: 1px solid #000;
}

.바디__메인섹션__아티클섹션__일기쓰기칸__제목입력 {
    /* width: 19.5rem; */
    width: 100%;
    /* height: 4.75rem; */
}

.바디__메인섹션__아티클섹션__일기쓰기칸__제목입력 > input {
    height: 3rem;
    /* width: 19.5rem; */
    width: 100%;
}

.바디__메인섹션__아티클섹션__일기쓰기칸__내용입력 {
    /* height: 9.75rem; */
    width: 100%;
}

.바디__메인섹션__아티클섹션__일기쓰기칸__내용입력 > input {
    /* width: 19.5rem; */
    width: 100%;
    /* height: 8rem; */
    min-height: 8rem;
}

.바디__메인섹션__아티클섹션__일기쓰기칸__등록하기 {
    /* width: 19.5rem; */
    width: 100%;
    height: 3rem;
}
.페이지네이션영역{
    height: 11.2rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.페이지네이션영역__페이지네이션{
    display: flex;
    align-items: center;
}

.플로팅버튼 {
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    bottom: 2.5rem;
    right: 1.25rem;
    border: 0 solid #000;
    background-color: white;
}

.푸터{
    width: 100%;
    display: flex;
    padding: 2.4rem 2rem;
    justify-content: center;
    background-color: #f2f2f2;
  }
  
  .푸터__푸터섹션 {
    width: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 3.2rem;
  }
  
  .푸터__푸터섹션__제목 {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.6rem;
  }
  
  .푸터__푸터섹션__대표 {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: #5f5f5f;
  }
  
  .푸터__푸터섹션__카피라이트 {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: #919191;
  }


.색상반전 {
    background: black;
    color: white;
}


.스켈레톤{
    width: 100px;
    height: 1000px;
    background-color: skyblue;
    filter: blur(60px);
    animation-name: 스켈레톤;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes 스켈레톤{
    from {
        transform: translate(-400px,-400px) rotate(30deg);
    }
    to{
        transform: translate(1200px,1000px) rotate(30deg);
    }
}

.클릭된{
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    letter-spacing: -1%;
    color: black;
    background-color: #F2F2F2;
    border: 0px;

    width: 32px;
    height: 32px;
    border-radius: 8px;
    opacity: 1;
    padding: 10px;
    
    
}
.클릭안된{
    border: 0px;
    font-family: Pretendard Variable;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    letter-spacing: -1%;
    text-align: center;
    color: #777777;

    width: 32px;
    height: 32px;
    border-radius: 8px;
    opacity: 1;
    gap: 10px;
    padding: 10px;
    background-color: #fff;    
}
#이전페이지 {
    display: none;
    border: 0px;
    background-color: #fff;
}
#다음페이지 {
    display: none;
    border: 0px;
    background-color: #fff;
}