*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.가장큰배경{
    width: 1920px;
    height: 1805px;
}

.헤더{
    width: 1920px;
    height: 60px;
}
.헤더__제목{
    width: 1920px;
    height: 60px;
    display: flex;
    justify-content: center;
}
.헤더__제목 > span{
    width: 1168px;
    
}
.바디{
    width: 1920px;
    height: 1521px;
    display: flex;
    flex-direction: column;
}
.바디__배너{
    height: 240px;
    display: flex;
    justify-content: center;
}
.바디__메인섹션{
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.바디__메인섹션__메뉴섹션{
    width: 1920px;
    display: flex;
    justify-content: center;
    
}


.바디__메인섹션__메뉴섹션__메뉴{
  
    width: 1168px;
}
.바디__메인섹션__필터섹션{
    width: 1920px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 10;
    
    
}
.바디__메인섹션__필터섹션__필터{
    width: 1168px;
    backdrop-filter: blur(10px);
    

}
.바디__메인섹션__아티클섹션{
    display: flex;
    flex-direction: row;
    width: 1168px;
    height: 1167px;
    justify-content: space-between;
}
.바디__메인섹션__아티클섹션__일기칸{
    width: 784px;
    height: 1167px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.바디__메인섹션__아티클섹션__일기칸__일기장{
    width: 380px;
    height: 373px;
    transition: transform 0.5s;
    
    position: relative;
}
.바디__메인섹션__아티클섹션__일기칸__일기장:hover{
    filter: blur(3px);
    transform: scale(1.1);

    
}
.바디__메인섹션__아티클섹션__일기칸__일기장 > div{
    display: flex;
    justify-content: space-between;
}
.바디__메인섹션__아티클섹션__일기칸__일기장__삭제버튼{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 80px;
    height: 80px;
    z-index: 10;
}
.바디__메인섹션__아티클섹션__일기쓰기칸{
    width: 360px;
    height: 604px;
    padding: 24px;
}
.바디__메인섹션__아티클섹션__일기쓰기칸__머리{
    width: 312px;
    height: 24px;
}
.바디__메인섹션__아티클섹션__일기쓰기칸__감정상태선택{
    width: 312px;
    height: 108px;
    border: 1px solid #000;
}
.바디__메인섹션__아티클섹션__일기쓰기칸__제목입력{
    width: 312px;
    height: 76px;
}
.바디__메인섹션__아티클섹션__일기쓰기칸__제목입력 > input{
    height: 48px;
    width: 312px ;
}
.바디__메인섹션__아티클섹션__일기쓰기칸__내용입력{
    height: 156px;
}
.바디__메인섹션__아티클섹션__일기쓰기칸__내용입력> input{
    width: 312px;
    height: 128px;
}
.바디__메인섹션__아티클섹션__일기쓰기칸__등록하기{
    width: 312px;
    height: 48px;
}

.플로팅버튼{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    border: 0px solid #000;
    background-color: white;
}
.푸터{
    width: 1920px; 
    height: 160px;
}

.색상반전 {
    filter: invert(1);
  }