*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.등록모달그룹{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.등록모달배경{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 50%;
    
}
.등록모달창{
    top: calc(50% - 56rem/2);
    left: calc(50% - 64rem/2);
    width: 64rem;
    height: 56rem;
    background-color: white;
    position: absolute;
    border-radius: 1.6rem;

    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 2.4rem;
    
}


.등록모달창__타이틀섹션{
    width: 59.2rem;
    height: 2.4rem;
    display: flex;
    justify-content: space-between;
    
    
}
.등록모달창__타이틀섹션 h2{
    font-family: Pretendard Variable;
    font-weight: 700;
    font-style: Bold;
    font-size: 2.4rem;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
}
.등록모달창__타이틀섹션__다크모드영역{
        width: 12.1rem;
        height: 3.2rem;
        display: flex;
        gap: 0.8rem;
}
.등록모달창__타이틀섹션__다크모드영역__다크모드텍스트{
    
    font-family: Pretendard Variable;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.5rem;
    leading-trim: NONE;
    
    letter-spacing: -1%;
    
    
}
.등록모달창__타이틀섹션__다크모드영역__다크모드버튼{
    appearance: none;
    content: '';
    width: 5.8rem;
    height: 3.2rem;
    background-color: lightgray;
    border-radius: 2rem;
}
.등록모달창__타이틀섹션__다크모드영역__다크모드버튼::after{
    display: block;
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    background-color: #fff;
    border-radius: 50%;
    margin: 0.4rem;

    transition: margin-left 0.3s;
    
}
.등록모달창__타이틀섹션__다크모드영역__다크모드버튼:checked{
    background-color: #3ad84a;
}
.등록모달창__타이틀섹션__다크모드영역__다크모드버튼:checked::after{
    margin-left: 2.8rem;
}
.등록모달창__아티클섹션{
    width: 100%;
    width: 592px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.등록모달창__아티클섹션__상단{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 64px;
    gap: 1.6rem;
    
}
.등록모달창__아티클섹션__상단 h3{
    font-family: Pretendard Variable;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
    
}

.등록모달창__아티클섹션__상단 label{
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: -1%;
    
}


.등록모달창__아티클섹션__상단 > div {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* font-size: 1.8rem; */
    /* line-height: 2.4rem;
    gap: 2rem; */
}
/* .등록모달창__아티클섹션__상단 > div > div{
    display: flex;
} */
.등록모달창__아티클섹션__하단{
    width: 100%;
    height: 256px;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.등록모달창__아티클섹션__하단__제목영역{
    display: flex;
    flex-direction: column;
    height: 76px;
    gap: 0.8rem;
}
.등록모달창__아티클섹션__하단__제목영역 > span{
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: -1%;
    
}
.등록모달창__아티클섹션__하단__제목영역 > input{
    height: 48px;
    border-radius: 0.8rem;
    border: 0.1rem solid #D4D3D3;
}

.등록모달창__아티클섹션__하단__내용영역{
    display: flex;
    flex-direction: column;
    height: 156px;
    gap: 0.8rem;
}
.등록모달창__아티클섹션__하단__내용영역 > span{
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: -1%;
    
}
.등록모달창__아티클섹션__하단__내용영역 > input{
    height: 128px;
    border-radius: 0.8rem;
    border: 0.1rem solid #D4D3D3;
}
.등록모달창__등록섹션{
    width: 224px;
    display: flex;
    justify-content: space-between;
}
.등록모달창__등록섹션__닫기버튼{
    width: 104px;
    height: 48px;
    border-radius: 0.8rem;
    font-family: Pretendard Variable;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
    border: 1px solid #000;
    
}
.등록모달창__등록섹션__등록버튼{
    width: 104px;
    height: 48px;
    border-radius: 0.8rem;
    font-family: Pretendard Variable;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -1%;
    border: 1px solid #C7C7C7;
    
}

.등록완료모달그룹,
.등록취소모달그룹,
.삭제모달그룹{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.등록완료모달배경,
.등록취소모달배경,
.삭제모달배경{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 50%;
}
.등록완료모달창,
.등록취소모달창,
.삭제모달창{
    top: calc(50% - 20rem/2);
    left: calc(50% - 48rem/2);
    width: 48rem;
    height: 20rem;
    background-color: white;
    position: absolute;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2.4rem;
    align-items: center;
}
.등록완료모달창__메시지섹션,
.등록취소모달창__메시지섹션,
.삭제모달창__메시지섹션{
    width: 100%;
    height: 6.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.등록완료모달창__메시지섹션__상단,
.등록취소모달창__메시지섹션__상단,
.삭제모달창__메시지섹션__상단{
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
}
.등록완료모달창__메시지섹션__하단,
.등록취소모달창__메시지섹션__하단,
.삭제모달창__메시지섹션__하단{
    text-align: center;
    font-size: 2rem;
}
.등록완료모달창__버튼{
    background-color: black;
    color: white;
    width: 100%;
    font-size: 1.8rem;
    height: 4.8rem;
    border-radius: 0.8rem;
    
}

.등록취소모달창__버튼영역,
.삭제모달창__버튼영역{
    gap: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}
.등록취소모달창__버튼영역__계속작성버튼,
.삭제모달창__버튼영역__취소버튼{
    
    border-radius: 0.8rem;
    font-size: 1.8rem;
    height: 4.8rem;
    padding: 1.2rem 1.9rem 1.2rem 1.9rem;
    border: 1px solid #1C1C1C;
}    
.등록취소모달창__버튼영역__등록취소버튼,
.삭제모달창__버튼영역__삭제버튼{
    
    border-radius: 0.8rem;
    background-color: black;

    color: white;
    font-size: 1.8rem;
    height: 4.8rem;
    padding: 1.2rem 1.9rem 1.2rem 1.9rem;
    border: 1px solid #000;
}



.등록모달창{
    color: var(--기본글자색);
    background-color: var(--기본배경색);
}
.등록모달창__아티클섹션__상단 label{
    color: var(--라디오글자색);
    
    
} 
.등록모달창 input::placeholder{
    color: var(--인풋플레이스홀더색); 
}
.등록모달창__아티클섹션__하단 input{
    back₩round-color: var(--인풋배경색);
    border-color: var(--인풋보더색);  
    color: var(--기본글자색); 
}

.등록모달창__등록섹션__닫기버튼{
    border-color: var(--닫기버튼보더색);
    background-color: var(--닫기버튼배경색);
    color: var(--기본글자색);
}
.등록모달창__등록섹션__등록버튼{
    color: var(--등록하기버튼글자색);
    background-color: var(--등록하기버튼배경색);
}

.등록완료모달창,
.등록취소모달창{
    color: var(--기본글자색);
    background-color: var(--기본배경색);
}
.등록완료모달창 button,
.등록취소모달창 buttn{
    color: var(--등록완료버튼글자색);
    background-color: var(--등록완료버튼배경색);
}
.등록완료모달창__메시지섹션__하단,
.등록취소모달창__메시지섹션__하단{
    color: var(--등록완료모달글자색);
}
.등록취소모달창__버튼영역__등록취소버튼{
    border-color: var(--닫기버튼보더색);
}