*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.가장큰배경{
    width: 1920px;
    height: 1080px;
}
.큰배경{
    width: 1920px;
    height: 445px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.헤더{
    width: 1880px;
    height: 60px;
    display: flex;
    justify-content: center;

}
.헤더__타이틀{
    width: 1168px;
    height: 60px;

}
.바디{
    width: 1880px;
    height: 321px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.바디__메인{
    width: 1168px;
    height: 321px;
    display: flex;
    flex-direction: column;
}
.바디__메인__타이틀섹션{
    width: 1168px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.바디__메인__타이틀섹션__타이틀{
    width: 1168px;
    height: 36px;
    border-bottom: 2px solid black;
    
}
.바디__메인__타이틀섹션__이모지섹션{
    height: 32px;
    display: flex;
    justify-content: space-between;
}
.바디__메인__타이틀섹션__이모지섹션__이모지{
    width: 109px;
    height: 32px;
    display: flex;
    align-items: center;
}
.바디__메인__타이틀섹션__이모지섹션__이모지 > img{
    width: 32px;
    height: 32px;
}
.바디__메인__타이틀섹션__이모지섹션__이모지 > span{
    font-size: 20px;
}
.바디__메인__타이틀섹션__이모지섹션__날짜{
    width: 107px;
    height: 20px;
}
.바디__메인__아티클섹션{
    width: 1168px;
    height: 133px;
}
.바디__메인__수정섹션{
    width: 1168px;
    height: 40px;
    display: flex;
    justify-content: end;
}
.바디__회고추가선{
    border: 1px solid #000;
    width: 1168px;
}
.바디__회고{
    
    width: 1168px;
    height: 173px;
}
.바디__회고__입력섹션{
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.바디__회고__입력섹션__회고입력{
    height: 48px;
    display: flex;
    justify-content: space-between;
}
.바디__회고__입력섹션__회고입력 >input {
    width: 1101px;
}
.바디__회고__입력섹션__회고입력 >button{
    width: 51px;
    height: 48px;
}
.바디__회고__출력섹션{
    height: 72px;
    border-bottom: 1px solid #e4e4e4;
}

.바디__회고__출력섹션__회고목록__마지막 {
    display: flex;
  }
  
  .바디__회고__출력섹션__회고목록__날짜영역 {
    font-size: 16px;
    color: #777;
    padding-left: 12px;
  }
  
  .바디__회고__출력섹션__회고목록__내용영역 {
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 24px;
    font-weight: 500;
  }