@tailwind base;
@tailwind components;
@tailwind utilities;

/* 모든 태그 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Pretendard";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
