.transaction_table_container {
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.transaction_table {
  width: 100%;
}

/* 테이블 전체 스타일 */
table {
  width: 100%;
  border-collapse: collapse;
}

/* 테이블 헤더 스타일 */
thead {
  width: 100%;
}

thead tr {
  width: 100%;
  display: grid;
  grid-template-columns: 6.4rem 6.25rem 1fr 6.25rem;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

thead th {
  width: 100%;
  font-weight: 600;
  color: var(--gray-900);
  text-align: left;
  padding: 0;
}

/* 테이블 바디 스타일 */
tbody {
  display: grid;
  gap: 0.75rem;
}

tbody tr {
  display: grid;
  grid-template-columns: 6.4rem 6.25rem 1fr 6.25rem;
  align-items: center;
  padding: 0.75rem 1.5rem;
  gap: 0.5rem;
  border: 1px solid var(--gray-50);
  border-radius: 1rem;
  position: relative;
}

/* 판매자 컬럼이 있는 경우 */
tbody tr.with-seller {
  grid-template-columns: 6.4rem 1fr 6.25rem 6.25rem 6rem;
}

tbody td {
  color: var(--gray-800);
}

/* 컬럼별 스타일 */
.col-date {
  text-align: center;
  color: #6c757d;
}

.col-product {
  color: var(--gray-800);
  text-align: center;
}
.col-product.positive {
  color: var(--primary-color);
}
.col-product.negative {
  color: var(--warning-color);
}

.col-amount {
  color: var(--gray-800);
  text-align: center;
}

.col-balance {
  text-align: right;
  color: var(--black);
}

/* 금액 색상 */
.col-amount.positive {
  color: var(--primary-color);
}

.col-amount.negative {
  color: var(--warning-color);
}
