*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button{
  cursor: pointer;
  background-color: var(--btn-default-bg);
  color:var(--color-font-white);
  border:none;
  outline: none;
}
button:disabled{
  cursor: default;
  background-color: var(--btn-default-disabled-bg);
  color: var(--color-font-gray-50);
}
.hidden{
  display: none;
}
.outline-error{
  outline: solid 1px var(--color-font-error);
}

.container{
  width: 1920px;
  height: 1208px;
  background-image: url("./assets/images/bg1.png");
}
.header{
  width: 1920px;
  height: 80px;
  display: flex;
}
.header__left{
  width: 480px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  padding-right: 16px;
}
.header__right{
  width: 1440px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
}
.header__right__profile-settings{
  width: 163px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body{
  width: 1920px;
  height: 1048px;
  display: flex;
}
.body__sidebar-left{
  width: 80px;
  height: 1048px;
}
.body__main{
  width: 1760px;
  height: 1048px;
  background-image: url("./assets/images/bg2.png");
  display: flex;
}

.body__main__picture{
  width: 680px;
  height: 1048px;
  background-image: url("./assets/images/picture.png");
  box-shadow: 0 0 40px 0 #D389FF;
}
.body__sidebar-right{
  width: 80px;
  height: 1048px;
}
.footer{
  width: 1920px;
  height: 80px;
}