:root {
  /* Button Colors */
  --btn-default-bg: #491449;
  --btn-default-disabled-bg: #C7C7C7;
  --btn-white-bg: #FFF;

  /* Font Colors */
  --color-font-black: #333;
  --color-font-white: #FFF;
  --color-primary: #491449;
  --color-primary-200: #955C98;
  --color-primary-300: #C9AAC9;
  --color-font-gray: #C7C7C7;
  --color-font-gray-50: #F2F2F2;
  --color-font-gray-300: #E4E4E4;
  --color-font-error: #E84F4F;

  /* Font Sizes */
  --font-size-xxl: 40px;       /* big title */
  --font-size-xl: 24px;        /* section title */
  --font-size-base: 20px;      /* default body font */
  --font-size-md: 18px;        /* inner content */
  --font-size-sm: 14px;        /* small text */

  /* Icon Sizes */
  --icon-size-sm: 20px;
  --icon-size-lg: 40px;        /* main icon */
  --icon-size-md: 24px;        /* list icon */
  --icon-size-profile: 35px;   /* profile icon */
}