* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
h1 {
  font-size: 18px;
  padding-top: 46px;
  padding-bottom: 46px;
}
/* 상세페이지 */
.detail {
  width: 1168px;
  margin: 0 auto;
}
.detail__top {
  display: flex;
  justify-content: space-between;
}

.detail__mood {
  display: flex;
  padding-bottom: 24px;
}
hr {
  height: 3px;
  background-color: black;
  margin-top: 12px;
  margin-bottom: 16px;
}

.detail__내용 {
  padding-bottom: 13px;
}
.상세페이지수정삭제버튼 {
  display: flex;
  justify-content: end;
  padding-top: 24px;
  gap: 16px;
}
.상세페이지수정삭제버튼 > button {
  width: 51px;
  height: 40px;
  border: 1px solid #d4d3d3;
  border-radius: 8px;
  background-color: white;
}
