:root {
  --background: #ffffff;
  --foreground: #171717;

  /* 아이콘 사이즈 */
  --icon-size-xl: 1.875rem;
  --icon-size-lg: 2rem;
  --icon-size-md: 1.5rem;
  --icon-size-sm: 1.25rem;
  --icon-size-xs: 1rem;

  /* 컬러 */
  --primary-color: #2974E5;
  --warning-color: #F66A6A;

  /* 그레이 */
  --gray-50: #F2F2F2;
  --gray-100: #F2F2F2;
  --gray-200: #D4D3D3;
  --gray-300: #C7C7C7;
  --gray-400: #ABABAB;
  --gray-500: #919191;
  --gray-600: #777777;
  --gray-700: #5F5F5F;
  --gray-800: #333333;
  --gray-900: #1C1C1C;

  /* 기본 */
  --white: #FFFFFF;
  --black: #000000;


  /* 텍스트 그레이 */
  --text-gray-50: #919191;
  --text-gray-80: #333333;
  --text-gray-90: #1c1c1c;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 120rem;
  /* overflow-x: hidden; */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* 기본 컨테이너 사이즈 margin auto */
.container {
  max-width: 80rem;
  margin: 0 auto;
}





/* 폰트사이즈 */

/* bold */
.b_28_36 {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.25rem;
}
.b_24_32 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}
.b_20_28 {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.b_16_24 {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}
.b_14_20 {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* semi-bold */
.sb_18_24 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.sb_16_24 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}
.sb_14_20 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}


/* medium */
.me_20_24 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.me_16_24 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
.me_16_20 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
}
.me_14_20 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.me_13_20 {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
.me_12_20 {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
.me_11_12 {
  font-weight: 500;
  font-size: 0.6875rem;
  line-height: 0.75rem;
}

/* regular */
.r_20_24 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.r_16_24 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
.r_14_20 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.r_12_20 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
.r_11_12 {
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 0.75rem;
}

/* light */
.l_14_20 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.l_12_20 {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.25rem;
}