* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#root {
  max-width: 1280px;
  width: 100%;
}

nav {
  display: flex;
  min-height: 80px;
  padding: 20px 0px;
}

.navText {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  gap: 16px;
}

.container {
  display: flex;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 1280px;
}

.titleWrap {
  text-align: center;
  margin-bottom: 40px;
}

.titleWrap h1 {
  font-size: 24px;
  font-weight: bold;
}

.formWrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.formWrap h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.inputWrap {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  color: #333;
  border: 1px solid #d4d3d3;
  padding: 12px 16px;
  font-size: 16px;
}

.inputWrap::placeholder {
  color: #ababab;
}

.textareaWrap {
  width: 100%;
  height: 336px;
  border-radius: 8px;
  color: #333;
  border: 1px solid #d4d3d3;
  padding: 12px 16px;
  resize: none;
  font-size: 16px;
  font-family: inherit;
}

.textareaWrap::placeholder {
  color: #ababab;
}

.formWrap img {
  width: 160px;
  height: 160px;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.buttonWrap {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.bottomButton {
  width: 95px;
  height: 48px;
  border-radius: 8px;
  background-color: #2974e5;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.bottomButton.disabled {
  background-color: #e4e4e4;
  color: #ababab;
  cursor: not-allowed;
}

.errorMessageWrap {
  font-size: 16px;
  color: #f66a6a;
  margin-top: 8px;
  min-height: 20px;
}