.detailLayout {
  display: flex;
  width: 100%;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.detailBody {
  display: flex;
  max-width: 1280px;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}

.boardFrame {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 48px;
  border-radius: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}
