* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#root {
  max-width: 1280px;
  width: 100%;
}
h1 {
  font-size: 28px;
}
