/* 카드 기본(시각/레이아웃 공통) */
main .diary-card {
  border-radius: 20px;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  cursor: pointer;

  transition: transform 0.5s ease;
  will-change: transform;
  transform-origin: center center;
  position: relative;
  z-index: 1;
}
