.pageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bodyContainer {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 40px 320px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
