* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
/* 메인전체사이즈 */
.main {
  width: 1168px;
  margin: 0 auto;
}

nav {
  display: flex;
}
.title__main {
  min-height: 100vh;
}
.title__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 */
  grid-template-rows: repeat(3, 1fr); /* 3행 */
  height: 100%;
  gap: 10px;
}
