.page {
  width: 100%;
  padding: 0 320px;
  gap: 40px;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  padding: 40px 0;
  gap: 40px;
}
.line {
  border: none;
  border-top: 1px solid #e4e4e4;
}
.postHeader {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.enrollAuthorPassword {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.inputArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.inputArea__enrollLabel {
  display: flex;
  align-items: center;
}

.inputArea__enrollLabel__label {
  color: var(--gray-800, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-right: 4px;
}
.inputArea__enrollLabel__star {
  color: var(--red, #f66a6a);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.inputArea__input {
  width: 100%;
  display: flex;
  padding: 12px 16px;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.inputError {
  color: var(--red, #f66a6a);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.inputArea__textarea {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
  resize: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 1280px;
  height: 336px;
}

.addressArea {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.addressArea__search {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.addressArea__enrollInputButton {
  max-width: 220px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inputArea__addressInput {
  max-width: 82px;
  width: 100%;
  display: flex;
  padding: 12px 16px;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.inputArea__button {
  border-radius: 8px;
  border: 1px solid var(--gray-B, #000);
  background: var(--gray-w, #fff);
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: var(--gray-B, #000);
  text-align: center;
}
.enrollButton {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.inputArea__cancelButton {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray-B, #000);
  background: var(--gray-w, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: var(--gray-B, #000);
  text-align: center;
}

.inputArea__registerButton {
  border-radius: 8px;
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  border: none;
}

/* ImageUpload */
.imageUploadArea {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.imageUploadInput {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.imageUploadInput__drop {
  color: var(--gray-600, #777);
  display: flex;
  width: 160px;
  height: 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--gray-50, #f2f2f2);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.imageUploadInput__drop input {
  display: none;
}
